<div id="create_alert" class="modal">
  <!-- Modal content -->
  <div class="modal-content">

    <div class="modal-header">
      <h3>Créez et modifiez vos alertes</h3>

      <span class="close">
        <p>&times;</p>
      </span>

    </div>

    <div class="modal-body">
      <p> Séléctionnez vos métiers sur lesquel vous souhaiteriez être prévenu lorsqu'un profil matche avec vos recherches</p>
      <%= simple_form_for @headhunter do |f| %>

        <%= f.input :job_ids, collection: Job.all, label: false, input_html: { class:"select2", multiple: "multiple", style: "width: 100%;" } %>
        <%= f.submit "Créer une alerte" %>

      <% end %>
    </div>
  </div>
</div>

