<div id="create_alert" class="modal">
  <!-- Modal content -->
  <div class="modal-content">

      <span class="close">
        <p>&times;</p>
      </span>

    <h2>Créer ou modifier vos alertes</h2>
    <p> Séléctionner vos metriers sur lequel vous souhaiteriez être prévenu qu'un profil match avec vos recherches</p>
    <div class="modal-body">
      <%= simple_form_for @headhunter do |f| %>

        <%= f.input :job_ids, collection: Job.all, label: false, input_html: { class:"select2", multiple: "multiple", style: "width: 100%;" } %>
        <%= f.submit "Créer une alerte" %>

      <% end %>
    </div>
  </div>
</div>

