<div id="create_alert" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <%= simple_form_for :current_user, method: :put do |f| %>
      <%= f.simple_fields_for :job_alert do |u|%>
        <%= u.input :job_ids, collection: Job.all, label: false, input_html: { class:"select2", multiple: "multiple", style: "width: 100%;" } %>
        <%= u.submit "Créer une alerte" %>
      <% end %>
    <% end %>
  </div>


  <span class="close">
    <p>&times;</p>
  </span>
</div>
