<div id="create_alert" class="modal">
  <!-- Modal content -->
  <div class="modal-content">

    <div class="modal-header">
      <h3>Créez et modifiez vos alertes</h3>

      <span class="close" id="close_create_alert">
        <p>&times;</p>
      </span>

    </div>

    <div class="modal-body">
      <p>De nouveaux candidats chaque semaine ! Recevez une notification dès leur arrivée sur la plateforme. <br>
      Veuillez sélectionner vos métiers favoris :</p>
        <%= simple_form_for @headhunter do |f| %>
          <div class="row">
            <div class="col-xs-12 col-md-6 no-padding">
              <%= f.input :job_ids, collection: Job.all, label: false, input_html: { class: "select2", multiple: "multiple", style: "width: 100%;" } %>
            </div>
            <div class="col-xs-12 col-md-6 no-padding">
              <%= f.submit "Créer une alerte", input_html: { class: "col-xs-12 col-md-6" } %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>

