<% if talentist_signed_in? && current_talentist %>
  <% if talent.photo.present? %>

    <div class="illu-card photo-profil" style="background-image: url('<%= cl_image_path talent.photo, :transformation=>[ :gravity=>"face"] %>');">
    </div>

  <% else %>

    <div class="illu-card photo-profil">
      <div class="initiale">
        <p><%= talent.firstname.split(//).first.upcase %><%= talent.name.split(//).first.upcase %></p>
      </div>
    </div>

  <% end %>
<% else current_headhunter || current_talent %>

  <% if talent.talent_jobs.blank? %>

  <% else %>

    <% if talent.job_is?("Data") %>
      <div class="illu-card" style="background-image: url(/assets/illu-data.png);"></div>
    <% elsif talent.job_is?("Product") %>
      <div class="illu-card" style="background-image: url(/assets/illu-product.png);"></div>
    <% elsif talent.job_is?("Sales") %>
      <div class="illu-card" style="background-image: url(/assets/illu-sales.png);"></div>
    <% elsif talent.job_is?("Market") %>
      <div class="illu-card" style="background-image: url(/assets/illu-market.png);"></div>
    <% else %>
      <div class="illu-card" style="background-image: url(/assets/illu-data2.png);"></div>
    <% end %>

  <% end %>

<% end %>
