<div id="modal-welcome" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="margin-right-15">Bienvenue <%= @headhunter.firstname %></h3>
      <span class="close closeWelcome">
        <p>&times;</p>
      </span>
    </div>
    <div class="margin-top-30 modal-body row">
      <p class="col-xs-12 col-md-10 col-md-offset-1">Vous pouvez dès à présent accéder à notre répertoire talents où nous avons renseigné nos meilleurs profils.
        <br>
        <br>
        Attention ces profils sont anonymes! Demandez une mise en contact avec les talents qui vous intéressent et ils reviendront vers vous en acceptant ou refusant.
        <br><br>
        Et n'oubliez pas de compléter votre profil pour intéresser au mieux nos talents 😇<br><br>À bientôt</p>
      <%= link_to "J'ai compris", repertoire_path, class:"col-lg-6 col-lg-offset-3 col-xs-12 closeWelcome" %>
    </div>
  </div>
</div>

<script>
  const modalWelcome = document.getElementById("modal-welcome");
  const closeWelcomeList = modalWelcome.querySelectorAll(".closeWelcome");

  closeWelcomeList.forEach( (closeWelcome) => {
    closeWelcome.addEventListener("click", () => {
      modalWelcome.style.display = "none";
    });
  })

</script>
