<section class="container">

  <!-- Division pour résultats de recherche -->

  <div class="search-results">
    <% if @talents.count > 1 %>
      <p><strong><%= @talents.count %> Profils</strong> correspondent à votre recherche</p>
    <% else %>
      <p><strong><%= @talents.count %> Profil</strong> correspondent à votre recherche</p>
    <% end %>
  </div>

  <!-- Répertoire des talents -->
  <div id="modal_talents" class="cards-repertory">

    <% @talents.each do |talent| %>

        <%= render 'talent-card', talent: talent, cached: true %>
        <%= render 'shared/modal', talent: talent, cached: true %>

    <% end %>

  </div>

  <!-- Choix des pages -->
<!--   <div class="page-choice">
    <p>Préc. <strong>1</strong> 2 3 Suiv.</p>
  </div> -->
</section>
