<div class="container-show">
  <div class="blue-background">

    <!-- !!!!!!!!!!!!!faire render de chaque parties !!!!!!!!!!! -->

    <div class="row">
      <div class="col-lg-3 col-xs-12 no-padding tablinksAll" id='tabs-edit'>
        <p class="tablinks titre-rubrique-3 active" data-idTab='informations_generales'>Informations générales</p>
        <p class="tablinks titre-rubrique-3" data-idTab='modifier_photos'>Modifier les photos</p>
        <p class="tablinks titre-rubrique-3" data-idTab='informations_entreprises'>Informations d'entreprises</p>
        <p class="tablinks titre-rubrique-3" data-idTab='modifier_mon_compte'>Modifier mon compte</p>
      </div>
      <hr class="ligne-vertical col-lg-1 no-padding" id="ligne-edit">
      <!-- info générale sur le profil -->
      <div class="col-lg-8 no-padding">
          <div id="informations_generales" class="tabcontent" style="display: block;">
            <%= render 'edit_hh_informations_generales' %>
          </div>

          <div id="modifier_photos" class="tabcontent" style="display: none;">
            <%= render 'edit_modifier_photos' %>
          </div>

          <div id="informations_entreprises" class="tabcontent" style="display: none;">
            <%= render 'edit_informations_entreprises' %>
          </div>

          <div id="modifier_mon_compte" class="tabcontent" style="display: none;">
            <%= render '/talents/edit_modifier_compte', user: @headhunter %>
          </div>




    </div>
    </div>
  </div>
</div>


