<!-- Répertoire côté start-up -->
<% if !@headhunter.nil? %>
  <%= render 'create_alert' %>
<% end %>
<% if params[:query] == "new_member" %>
  <%= render 'modal_welcome' %>
<% end %>

<%= render 'filter', conditioning: 'repertoire' %>

<div id="all-talents">

    <%= render 'section_talents'%>

</div>





