<div id="modal_credentials" class="modal">

  <div class="modal-content">
    <% if @credentials %>
      <% @credentials.each do |credential| %>
        <p><%= credential.firstname.capitalize %> de <%= credential.company_name.capitalize %></p>
      <% end %>
    <% end %>

  </div>


</div>
