<div id="modal_credentials" class="modal">

  <div class="modal-content">

    <div class="modal-header">
      <h3>Vos recommandations</h3>

      <span class="close" id="close_modal_credentials">
        <p>&times;</p>
      </span>
    </div>

    <% if @credentials %>
      <% @credentials.each do |credential| %>
        <p><%= credential.firstname.capitalize %> de <%= credential.company_name.capitalize %></p>
      <% end %>
    <% end %>

  </div>


</div>
