<!-- <#% if f.is_a?(Startup) %>
  <div class="cercle center-text" style="background-image: url('<#%= cl_image_path f.logo  %>'); background-size: cover; height: 70px; width: 70px; cursor: pointer;">
    <i class="fas fa-edit white" style="font-size: 25px; opacity: 0.5;"></i>
  </div>
<#% else %>
  <div class="cercle center-text" style="background-image: url('<#%= cl_image_path f.photo  %>'); background-size: cover; height: 70px; width: 70px; cursor: pointer;">
    <i class="fas fa-edit white" style="font-size: 25px; opacity: 0.5;"></i>
  </div>

<#% end %>
 -->
