<div class="form-actions">
  <%= link_to talent_path(current_talent), class:"btn-edit red-border red margin-right-30" do %>
    Annuler
  <% end %>
  <%= f.submit "Valider", class: "btn-edit" %>
</div>
