<div class="talent-card-placement">
  <div class="talent-card startup-card">

      <div class="border">

        <div class="talent-job">
          <h2>ManoMano</h2>
        </div>
        <div class="background-img">
          <img src="assets/rawpixel-617400-unsplash.jpg" class="img-de-fond" alt="">
        </div>

        <div class="talent-info">
          <div class="talent-info-item card-dispsition">
            <p class="icon icon-info"><i class="fas fa-map-marker-alt"></i></p>
            <p>Paris</p>
          </div>
          <div class="talent-info-item card-dispsition">
            <p class="icon icon-info"><i class="fas fa-code-branch"></i></p>
            <p> BtoB & BtoC</p>
          </div>
          <div class="talent-info-item card-dispsition">
            <p class="icon icon-info"><i class="fas fa-briefcase"></i></p>
            <p>CDI</p>
          </div>
        </div>

        <div class="talent-description hidden-xs">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>


        <!-- Lien vers le profil de la SU -->
        <div class="talent-more">
            <p>Voir le profil <i class="fas fa-angle-right"></i></p>
        </div>

        </div>
      </div>
    </div>
</div>
