<div class="nested-fields row margin-top-15">
  <div class="col-lg-4 col-xs-12 no-padding margin-right-15 no-margin-xs margin-bottom-15-xs">

    <%= f.input :job_id, collection: Job.all, label: false, :input_html => { style: "width: 100%", class:"selectizeTwo" }, error: f.object.errors.messages[:job_id][0] %>
  </div>


  <div class="col-lg-3 col-xs-12 no-padding">
    <%= f.input :year, label: false, :input_html => { style: "width: 50%", id:"", min: "0", :onchange => "zeroInput(this.value, 'yearPositif')" }, error: f.object.errors.messages[:year][0] %>
  </div>


  <div class="col-lg-3 col-xs-12 no-padding">
    <%= f.input :position, label: false, input_html: { class: "", style:"width: 100%"}, wrapper: false %>
  </div>

  <% if f.object.position == 2 %>
    <div class="center-text col-lg-1 col-xs-1 no-padding deleted-job">
      <%= link_to_remove_association f do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  <% end %>
</div>

