<div class="nested-fields row">
  <label class="label-edit text-align-right line-height-center col-lg-2 requis js_remove" style="padding: 0 15px 0 0;">Mon&#8239;domaine&#8239;d'activité</label>
  <div class="col-lg-3 col-xs-12 no-padding margin-right-15 no-margin-xs margin-bottom-15-xs js_move">

    <%= f.input :job_id, collection: Job.all, placeholder: "Domaine secondaire (facultatif)", label: false, :input_html => { style: "width: 100%", class: "domaine-change-placeholder" }, error: f.object.errors.messages[:job_id][0] %>
  </div>

  <div class="col-lg-3 col-xs-12 no-padding js_remove">
    <%= f.input :year, placeholder: "Années d'expérience", label: false, :input_html => { style: "width: 100%", min: "0", :onchange => "zeroInput(this.value, 'yearPositif')", class: "copy_value" }, error: f.object.errors.messages[:year][0] %>
  </div>

  <%= f.input :position, as: :hidden %>

</div>
