


<section class="container" id="container-startup">
  <% if @headhunters.count > 0 %>
    <div class="row">
      <% @headhunters.each do |headhunter| %>
        <%= cache headhunter do %>
          <%= render 'talents/startup-card', headhunter: headhunter %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="absolute-center">Vous n'avez pas encore de match avec une startup</p>
  <% end %>

</section>





<!-- tu peux utiliser @headhunters pour avoir tous les recruteurs. Dela @headhunter.first.startup te donnera la startup -->
