<%= render "shared/navbar" %>
<%= render 'headhunters/create_alert' %>


<section class="container" id="container-startup">
  <% if @headhunters.count > 0 %>
    <div class="cards-repertory">
      <% @headhunters.each do |headhunter| %>
        <%= render 'talents/startup-card', headhunter: headhunter %>
      <% end %>
    </div>
  <% else %>
    <p>Vous n'avez pas encore de match avec une startup</p>
  <% end %>

</section>


<%= render "shared/footer" %>



<!-- tu peux utiliser @headhunters pour avoir tous les recruteurs. Dela @headhunter.first.startup te donnera la startup -->
