
function refreshForm(innerHTML) {
  const editProfilForm = document.getElementById('ma_prochaine_aventure');
  editProfilForm.innerHTML = innerHTML;
}

function addComment(textHTML){
  const editProfilForm = document.getElementById('ma_prochaine_aventure');
  editProfilForm.insertAdjacentHTML('beforebegin', textHTML);
}


<% if @talent.errors.any? %>
  addComment('<p style="color: red; text-align: center; margin-bottom: 20px;">Un problème est survenu, relancez la page et ressayez</p>');
<% else %>
  refreshForm('<%= j render "edit_prochaine_aventure" %>');
  addComment('<p style="color: red; text-align: center; margin-bottom: 20px;">Votre profil a bien été modifié</p>');
<% end %>
