// Define variables for your color scheme

// For example:
$red: #FE5251;
$blue: #469AE0;
$dark-blue: #273243;
$yellow: #FDB631;
$orange: #E67E22;
$green: #4ECCA3;
$gray: #C9C9C9;
$dark-gray: #878D9E;
$light-gray: #F5F7FA;
$light-gray2: #E8ECF0;
$violet: #000748;
$black: #191B26;

$blue-background: #F4F6FA;
$blue-border: #012b7f;
