.forgot_password{
  min-height: calc(100vh - 190px);
  padding: 50px 20vh;
  h2{
    font-size: 3vw;
    text-align: center;
    font-weight: 600;
    strong{
      font-weight: 600;
      color: $green;
    }
  }
  .forgot_password_grid{
    display: grid;
    grid: auto / 65% auto;
    padding: 50px 10vw;
    .form-group{
      width: calc(100% - 30px);
      margin : 0;
    }
    .submit_forgot_password{
      border: 1px solid $green;
      margin: 0;
      border-radius: 50px;
      color: $green;
      align-self: flex-end;
      justify-self: flex-end;
      transition: 0.15s;
    }
    .submit_forgot_password:hover{
      background-color: $green;
      color: white;
    }
  }
  .forgot_password_links{
    display: flex;
    justify-content: center;
    a{
      margin: 0 20px;
    }
    a:hover{
      color: $green;
    }
  }
}
