// Specific CSS for your home-page



// Faire un parcours generale des text-align:
h1 {
  color: $black
}
h2 {
  color: $black
}
h3 {
  color: $black
}
p {
  color: $black
}
a {
  color: $black
}
label {
  color: $black
}
input {
  color: $black
}
select {
  color: $black
}
