// Specific CSS for your home-page
.new_landing{
  width: 100vw;
  .top-menu{
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 30px;
    left: 30px;
    transition: 0.5s;
    .little-square{
      height: 36px;
      width: 36px;
      background-color: $violet;
      border-radius: 3px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
      position: relative;
      transition: 0.5s;
      hr{
        margin: 0;
        height: 3px;
        background-color: white;
        border-top: 0px;
        border-radius: 3px;
        position: absolute;
        left: 6px;
        transition: 0.5s;
      }
      .first{
        top: 8px;
        width: 11.5px;
      }
      .second{
        top: 16px;
        width: 25px;
      }
      .third{
        top: 24px;
        width: 18.5px;
      }
    }
    .titre-menu{
      color: $violet;
      font-size: 16px;
      font-weight: 600;
      margin: 0 20px;
      transition: 0.5s;
    }
  }
  .top-menu:hover{
    .little-square{
      background-color: $green;
      cursor: pointer;
      hr{
        width: 25px;
      }
    }
    .titre-menu{
      color: $green;
    }
  }

  .new-landing-logo-talentist{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    height: 55px;
  }

  .avatar-home{
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 5;
    .navbar-wagon-item .dropdown{
      .photo-profil{
        height: 35px;
        width: 35px;
      }
    }
  }

  .connectez-vous{
    position: absolute;
    top: 35px;
    right: 70px;
    z-index: 5;
    display: flex;
    a:first-child{
      margin-right: 20px;
      p{
        color: $green;
      }
    }
    p{
      font-size: 16px;
      font-weight: 600;
      color: $violet;
      transition: 0.15s;
    }
  }
  .connectez-vous a:first-child:hover{
    text-decoration: none;
    p{
      color: $violet;
    }
  }
  .connectez-vous a:last-child:hover{
    text-decoration: none;
    p{
      color: $green;
    }
  }

  .landing-top{
    background-color: rgba(3, 13, 89, 0.05);
    border-radius: 5px;
    position: relative;
    margin: 0 0 140px 155px;
    width: calc(100vw - 155px);
    height: 95vh;
    padding: 120px 50px 80px;
    display: flex;
    flex-direction: column;
    h1{
      font-size: 5.8vw;
      font-weight: 600;
      color: #191B26;
      z-index: 1;
      margin-top: 75px;
      position: absolute;
      left: -27.5vw;
      strong{
        color: $green;
      }
    }
    .inscription-items{
      margin: 62.5px 0 0;
      width: 28vw;
      display: inline-flex;
      justify-content: flex-start;
      z-index: 1;
      position: absolute;
      left: -27.5vw;
      top: 26vw;
      .btn-inscription{
        width: 12vw;
        height: 12.5vw;
        margin: 0 50px 0 0;
        p{
          margin: 0;
        }
      }
    }
    .image-habillage{
      position: absolute;
      top: 120px;
      right: 0;
      height: calc(100vh - 120px);
      width: 58.5vw;
      .compartiment-image{
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: absolute;
      }
      img{
        height: calc(100vh - 120px);
        position: absolute;
        top: 0;
        right: 0;
      }
      .desc-service{
        position: absolute;
        bottom: 10vh;
        left: 50%;
        transform: translate(-50%);
        font-size: 20px;
        width: 80%;
        color: #191B26;
        text-align: center;
        margin: 0;
        background-color: rgba(200, 200, 200, 0.5);
        border-radius: 5px;
      }
    }

    .fleche-bas{
      position: absolute;
      bottom: 40px;
      font-size: 24px;
      color: white;
      left: calc(50% - 77.5px);
      transform: translate(-50%);
      animation: fleche-bas 1s ease-out infinite alternate;
    }
    @keyframes fleche-bas {
    from {bottom: 40px;}
    to {bottom: 20px;}
    }
  }

  .landing-main{
    padding: 50px 150px;
    h2{
      text-align: center;
      font-size: 22px;
      font-weight: 900;
      color: $green;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .service-steps{
      display: flex;
      justify-content: space-between;
      .service-step{
        width: 250px;
        text-align: center;
        i{
          color: $green;
          font-size: 100px;
        }
        h5{
          text-transform: uppercase;
          font-size: 26px;
          font-weight: 900;
          color: #191B26;
          margin: 50px 0 40px 0;
        }
        p{
          font-size: 18px;
          margin: 0 0 180px;
        }
      }
    }
  }
}

#talent-landing{
  .landing-top{
    h1{
      margin-bottom: 70px;
    }
    .top-text{
      font-size: 20px;
      width: 365px;
    }
    .inscription-items{
      justify-content: center;
    }
  }
  .landing-main{
    padding: 150px 80px 0;
    h2{
      text-align: left;
      margin-bottom: 60px;
    }
    .opportunites{
      padding: 0 70px;
      display: flex;
      justify-content: space-between;
      .opportunite{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        i{
          font-size: 70px;
          color: black;
        }
        h5{
          width: 100%;
          font-size: 18px;
          font-weight: 900;
          text-transform: uppercase;
          color: black;
          padding: 10px 0 0 10px;
          border-top: 4px solid $green;
          border-left: 4px solid $green;
          margin: 25px 0 40px;
        }
        p{
          font-size: 16px;
          margin-bottom: 0;
          em{
            font-style: normal;
            color: $green;
          }
        }
      }
    }

    .nos-chiffres{
      width: 700px;
      margin-bottom: 80px;
      > p{
        margin-bottom: 40px;
      }
      .chiffres{
        padding: 0 70px;
        display: flex;
        justify-content: space-between;
        .chiffres-item{
          width: 125px;
          .chiffre{
            font-size: 60px;
            font-weight: 600;
            color: $green;
            margin-bottom: -20px;
            em{
              font-style: normal;
              font-size: 30px;
            }
          }
          .desc-chiffre{
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
          }
        }
      }
    }

    .citation-Wilde{
      height: 620px;
      width: 440px;
      background-color: #F2F3F6;
      position: absolute;
      top: -4px;
      right: -80px;
      padding: 246px 80px 80px;
      z-index: -1;
      display: flex;
      i{
        font-size: 60px;
        color: $gray;
        margin: -10px 5px 0 0;
      }
      .cit-OW{
        .iladit{
          font-size: 38px;
          font-weight: 300;
          color: black;
          text-align: right;
        }
        .auteur{
          font-size: 18px;
          font-weight: 300;
          color: black;
          text-align: right;
          margin-top: 30px;
        }
      }
    }

    .destine > p{
      width: 700px;
      margin-bottom: 40px;
    }
    .fonctionnement{
      h2{
        margin-bottom: 100px;
      }
      .placement-card{
        display: flex;
        justify-content: space-between;
        margin: 0 -17.5px 80px;
        .card-fonctionnement{
          padding: 70px 35px 0;
          background-color: rgba(3, 13, 89, 0.05);
          border-radius: 5px;
          margin: 0 17.5px;
          width: 300px;
          height: 450px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          .numero{
            font-size: 48px;
            font-weight: 900;
            color: white;
            text-align: center;
            position: absolute;
            top: 0;
            left: 20px;
            transform: translateY(-50%);
            background-color: $green;
            height: 80px;
            width: 80px;
            border-top: 4px solid $violet;
            border-right: 4px solid $violet;
          }
          i{
            font-size: 80px;
            color: $green;
          }
          h5{
            font-size: 28px;
            font-weight: 900;
            margin: 50px 0;
          }
          font-size: 18px;
        }
      }
    }
    .citations{
      margin: 0 0 0 -80px;
      width: 100vw;
      background-color: #F2F3F6;
      padding: 50px 250px;
      display: flex;
      justify-content: space-between;
      i{
        margin: -20px 80px 0 20px;
        font-size: 60px;
        color: $gray;
      }
      .auteur-citation{
        text-align: right;
        margin: 0 20px;
        font-size: 23px;
        .nom{
          font-weight: 600;
        }
        .titre{
          font-style: oblique;
          font-weight: 100;
        }
      }
      .citation{
        font-size: 28px;
        font-weight: 600;
        margin: 0 20px;
        flex-grow: 1;
      }
    }
    .ligne-client{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: rgba(3, 13, 89, 0.05);
      border-radius: 5px;
      padding: 20px 0;
      margin-bottom: 80px;
      .bloc-client{
        width: 25%;
        padding: 40px;
        min-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        .client{
          height: 200px;
          width: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          .logo{
            width: 180px;
          }
        }
      }
    }
  }
  .actions-xs{
    // position: fixed;
    // top: calc( 100vh - 100px);
    // bottom: 0px;
    // left: 0;
    // z-index: 10;
    // -webkit-transform: translateZ(0);
    margin: 40px 0 0;
    display: flex;
    justify-content: center;
    .btn-connexion{
      // position: absolute;
      margin: 0 7.5px;
      a{
        // background-color: white;
      }
    }
  }
}


@media screen and (max-width: 1000px) {
  .new_landing{
    .landing-top{
      margin: 0;
      width: unset;
      padding: 120px 20px 80px;
      height: 100vh;
      .inscription-items{
        margin-top: 15vh;
      }
      .image-habillage{
        width: 61vw;
      }
      .fleche-bas{
        left: 50%;
      }
    }
    .landing-main{
      padding: 0 50px;
      h2{
        margin-top: 150px;
      }
      .desc-service{
        font-size: 20px;
        margin-bottom: 150px;
      }
      .service-steps{
        flex-direction: column;
        align-items: center;
        .service-step p{
          margin-bottom: 90px;
        }
      }
    }
  }


  #talent-landing{
    .landing-top{
      h1{
        margin-bottom: 130px;
      }
      .top-text{
        width: unset;
      }
    }
    .landing-main{
      padding: 20px;
      .opportunites{
        padding: unset;
        flex-direction: column;
        align-items: center;
        .opportunite{
          margin-bottom: 50px;
        }
      }
      .nos-chiffres{
        width: unset;
        .chiffres{
          padding: unset;
          flex-direction: column;
          align-items: center;
          .chiffres-item{
            margin-bottom: 50px;
          }
        }
      }
      .destine{
        margin-bottom: 150px;
        p{
          width: unset;
        }
      }
      .fonctionnement .placement-card{
        flex-direction: column;
        align-items: center;
        .card-fonctionnement{
          margin-bottom: 90px;
        }
      }
      .citations{
        padding: 20px;
        margin-left: -20px;
        flex-direction: column;
        i{
          margin: 0;
        }
        .auteur-citation{
          order: 2;
          margin: 0;
        }
        .citation{
          margin: 30px 20px;
        }
      }
    }
  }
}

















.banniere-inscription{
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background-color: $violet;
  border-top: 4px solid $green;
  border-left: 4px solid $green;
  margin: 100px 0;
  p{
    font-size: 30px;
    font-weight: 900;
    margin: 0;
    color: white;
    flex: 1
  }
}






*, a:hover{
  text-decoration: none;
}



.btn-connexion{
  width: 170px;
  height: 40px;
  border: 2px solid $green;
  font-weight: 600;
  font-size: 21px;
  border-radius: 25px;
  background-color: rgba(0,0,0,0);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  a{
    color: $green;
  }
}
.btn-connexion:hover{
  cursor: pointer;
  background-color: $green;
  text-decoration: none;
  transition: 0.15s;
  a{
    color: white;
    transition: 0.15s;
  }
}
.blue-connexion{
  border: 2px solid $violet !important;
  min-width: 200px;
  a{
    color: $violet;
  }
}

.blue-connexion a:hover{
  background-color: $violet;
  color: white;
}



// Faire un parcours generale des text-align:
h1 {
  color: $black
}
h2 {
  color: $black
}
h3 {
  color: $black
}
h4 {
  color: $black
}
h5 {
  color: $black
}
p {
  color: $black
}
a {
  color: $black
}
label {
  color: $black
}
input {
  color: $black
}
select {
  color: $black
}
