// Specific CSS for your home-page
#new_landing{
  .top-menu{
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 30px;
    left: 30px;
    .little-square{
      height: 36px;
      width: 36px;
      background-color: $violet;
      border-radius: 3px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
      position: relative;
      hr{
        margin: 0;
        height: 3px;
        background-color: white;
        border-top: 0px;
        border-radius: 3px;
        position: absolute;
        left: 6px;
      }
      .first{
        top: 8px;
        width: 11.5px;
      }
      .second{
        top: 16px;
        width: 25px;
      }
      .third{
        top: 24px;
        width: 18.5px;
      }
    }
    .titre-menu{
      color: $violet;
      font-size: 16px;
      font-weight: 600;
      margin: 0 20px;
    }
  }

  .new-landing-logo-talentist{
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    height: 55px;
  }

  .landing-top{
    background-color: rgba(3, 13, 89, 0.05);
    border-radius: 5px;
    position: relative;
    margin: 0 0 140px 155px;
    width: calc(100vw - 155px);
    padding: 120px 50px 80px;
    display: flex;
    flex-direction: column;
    h2{
      font-size: 85px;
      font-weight: 600;
      color: #191B26;
      z-index: 1;
      margin-top: 75px;
      strong{
        color: $green;
      }
    }
    .inscription-items{
      margin: 62.5px 0 0;
      width: 450px;
      display: inline-flex;
      justify-content: flex-start;
      z-index: 1;
      .btn-inscription{
        width: 152px;
        margin: 0 50px 0 0;
      }
    }
    .image-habillage{
      position: absolute;
      top: 120px;
      right: 0;
      height: 800px;
      width: 837px;
      overflow: hidden;
      img{
        height: 127%;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .fleche-bas{
      position: absolute;
      bottom: 40px;
      font-size: 24px;
      color: white;
      left: calc(50% - 77.5px);
      transform: translate(-50%);
      animation: fleche-bas 1s ease-out infinite alternate;
    }
    @keyframes fleche-bas {
    from {bottom: 40px;}
    to {bottom: 20px;}
    }
  }

  .landing-main{
    padding: 50px 150px;
    h1{
      text-align: center;
      font-size: 22px;
      font-weight: 900;
      color: $green;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    .desc-service{
      font-size: 28px;
      color: #191B26;
      text-align: center;
      margin-bottom: 100px;
    }
    .service-steps{
      display: flex;
      justify-content: space-between;
      .service-step{
        width: 250px;
        text-align: center;
        i{
          color: $green;
          font-size: 100px;
        }
        h5{
          text-transform: uppercase;
          font-size: 26px;
          font-weight: 900;
          color: #191B26;
          margin: 50px 0 40px 0;
        }
        p{
          font-size: 18px;
          margin: 0 0 180px;
        }
      }
    }
  }
}

@media screen and (max-width: 1430px) {
  #new_landing{
    .landing-top{
      margin: 0;
      width: unset;
      padding: 120px 20px 80px;
      height: 100vh;
      h2{
        font-size: 7vw;
      }
      .inscription-items{
        width: unset;
        justify-content: center;
        margin-top: 15vh;
        .btn-inscription{
          margin: 0 5vw;
        }
      }
      .image-habillage{
        height: 200px;
        width: 61vw;
      }
      .fleche-bas{
        left: 50%;
      }
    }
    .landing-main{
      padding: 0 50px;
      h1{
        margin-top: 150px;
      }
      .desc-service{
        font-size: 20px;
        margin-bottom: 150px;
      }
      .service-steps{
        flex-direction: column;
        align-items: center;
        .service-step p{
          margin-bottom: 90px;
        }
      }
    }
  }
}






































// Old landing
.home-container{
  display: flex;
  height: calc(100vh - 190px);
  min-height: 550px;
  .home-left{
    width: 50%;
    margin: 50px 0;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1{
      font-size: 40px;
      font-weight: 900;
      color: $black;
      strong{
        color: $green;
      }
    }
    h2{
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    .home-connexion{
      width: 80%;
      .connexion-item{
        margin: 30px 0;
        .form-group{
          width: calc(100% - 30px);
        }
      }
      .connexion-item:focus {
        border: solid #4ECCA3 1px !important;
        box-shadow: 0 0 8px rgba(78, 204, 163, 0.6);
      }
      .connexion-btns{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 0;
        a{
          font-weight: 600;
          font-size: 16px;
        }
        a:hover{
          text-decoration: none;
          color: $green;
          transition: color ease-in-out 0.15s;
        }
        .btn-connexion{
          width: 170px;
          height: 40px;
          border: 2px solid $green;
          color: $green;
          font-weight: 600;
          font-size: 21px;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .btn-connexion:hover{
          background-color: $green;
          color: white;
          transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s;
        }
      }
      .alternative-connexion{
        margin: 20px 0;
        hr{
          width: 100%;
          height: 2px;
          background-color: $violet;
          margin: 0;
          border-top: 0
        }
        p{
          width: 26%;
          font-size: 16px;
          font-weight: 600;
          color: $violet;
          background-color: white;
          position: relative;
          z-index: 1;
          top: -12px;
          margin: auto;
          text-align: center;
        }
      }
    }
  }
  .home-right{
    width: 50%;
    background-image: url("00_Icon.png");
    background-position: center;
    background-size: cover;
  }
}
.inscription-items{
  display: flex;
  justify-content: space-around;
  .btn-inscription{
    width: 30%;
    border: 2px solid $green;
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    i{
      font-size: 72px;
      margin: 10px;
    }
    a{
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 900;
      color: $green;
    }
  }
  .btn-inscription:hover{
    background-color: $green;
    transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s;
    a{
      color: white;
      text-decoration: none;
      transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s;
    }
  }
}

@media screen and (max-width: 991px) {
  .home-container .home-left{
    width: 100%;
    padding: 0;
    .home-connexion .inscription-items .btn-inscription{
      width: unset;
    }
  }
}

// Faire un parcours generale des text-align:
h1 {
  color: $black
}
h2 {
  color: $black
}
h3 {
  color: $black
}
p {
  color: $black
}
a {
  color: $black
}
label {
  color: $black
}
input {
  color: $black
}
select {
  color: $black
}
