.form-container{
  padding: 60px 190px 0;
}

.form-line{
  display: flex;
  align-items: center;
}

// #diplome-form {
//   margin-left: -15px;
// }

.form-label {
  width: 10%;
}
.requis:after{
  content: "*";
  color: $red;
}
#linkedin-size .form-group {
  width: 70%;
}
#linkedin-size p {
  width: 20%;
}

@media screen and (max-width: 770px) {
  #linkedin-size .form-group {
    width: 100%;
  }
}

#metier-size .form-group {
  width: 130px;
}

.form-group {
  margin: unset;
}


#diplome-form{
  .select span {
    width: 100% !important;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 25px !important;
  }
}


.margin-auto-new-talent {
  width: 85%;
  margin: auto;
}


.invalid-feedback {
  color: $red;
  font-size: 14px;
}

/* change 'loisir' box aspect */
.select2-container--default .select2-selection--multiple {
  border: 1px solid #ccc !important;
  border-radius: 2px !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #4ECCA3 1px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(78, 204, 163, 0.6);
}
.select2-results__option {
  color: #ccc;
  text-transform: capitalize;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #4ECCA3 !important;
}

.alert{
  background-color: $red;
}

.form-compte{
  align-items: flex-start;
  margin-bottom: -20px;
  .form-label{
    margin-top: 25px;
  }
  .alert{
    display: none;
  }
}
.form-label em{
  font-style: normal;
  color: $red;
}
.form-hobby-add{
  height: 39px;
  min-height: 32px;
  border: 1px solid $green;
  border-radius: 4px;
  color: $green;
  padding: 0 15px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.form-hobby-add:hover{
  color: white;
  background-color: $green;
  text-decoration: none;
  transition: 0.15s
}
.form-hobby-add:focus{
  color: $green;
  text-decoration: none;
}
.talent_password small {
    display: flex;
    justify-content: flex-end;
  }

#new-talent {
  .display-flex {
    display: flex;
    justify-content: space-around;
  }
}
.p-relative{
  position: relative;
}

/*CSS formations.html.erb */
#formations{

  .form-group{
    width: unset;
    select{
      width: 100%;
      color: gray;
      background-color: white;
    }
  }
}


@media screen and (min-width: 771px) {
  .padding-center {
    padding-left: 39%
  }
  #text_area-experience {
    margin: 0 15px 15px 12px;
  }
  #supp-words {
    margin: 20px 0;
  }
  .margin-competence {
    padding: 11px 0;
  }
  #next_aventure-form {
    .form-group {
      margin: 15px;
      width: 60%;
    }
  }
}
#info-question-next_aventure {
  font-size: 12px;
  text-align: center;
  color: gray;
  margin: 0;
}


.nested-fields a{
  padding: 0 10px;
  color: $red;
}
#form-p2-comp{
  .form-semi-line{
    display: inline-block;
    .form-group{
      margin: 0;
      width: unset;
    }
  }
  .form-semi-line:first-child{
    // position: absolute;
    // top: 0;
    .form-label{
      margin-bottom: 15px;
    }
  }
  .form-semi-line:last-child{
    margin-left: 50%;
    .form-label{
      margin-bottom: 7px;
    }
  }
}
.form-label-semi-line{
  width: unset;
  text-align: left;
}

#add-language{
  .add-language-line .nested-fields .form-group{
    margin: 8px 15px 8px 0;
  }
}
#add-language .links{
  margin-top: 15px;
  a{
    padding: 0 10px;
    color: $green;
    border: 1px solid $green;
    text-decoration: none;
    border-radius: 5px;
  }
}
#add-language .links a:hover{
  color: white;
  background-color: $green;
  text-decoration: none;
  transition: 0.15s;
}

#text_area-experience {
  .form-label-font-size {
    text-align: left;
    margin-bottom: 5px;
  }
  textarea {
    width: 100%;
    height: 75%;
  }
}
.checked_boxe {
  background-color: $gray !important;
  opacity: 0.5 !important;
  cursor: none !important;
}
/* CSS checkboxes */
input[type="radio"], input[type="checkbox"] {
  margin: 4px 15px;
}

/* CSS next_aventure - A REVOIR */
.label-next_aventure{
  width: 26%;
}
.label-next_aventure-lg{
  width: 100%;
  text-align: left;
}
// .form-next_aventure{
//   display: flex;
// }
// .bloc-next-aventure{
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   .form-group{
//     width: 60%;
//   }
// }
// .bloc-next-aventure-right{
//   .form-group{
//     width: calc(100% - 15px);
//   }
// }

#competence-form{
  .form-group{
    margin: 15px 0;
  }
}
@media screen and (max-width: 770px) {
  .form-container{
    padding: 0 40px;
  }
  .form-line{
    align-items: flex-start;
    flex-direction: column;
    margin: 0 0 20px;
  }
  .form-label{
    width: unset;
  }
  .form-group{
    margin: 15px 0;
    width: 100%;
  }
  .form-actions{
    margin: 40px 0;
    .form-btn{
      margin: 0 15px;
    }
  }


  #formations{
    .form-group{
      width: 100%;
    }
  }
  #form-p2-comp{
    .form-semi-line{
      display: block;
      .form-group{
        width: 100%;
        margin-bottom: 15px;
      }
    }
    .form-semi-line:first-child {
      position: unset;
      margin-bottom: 40px
    }
    .form-semi-line:last-child{
      margin-left: 0;
    }
    #add-language .add-language-line .nested-fields .form-group {
      margin: 15px 0;
    }
  }
  .nested-fields a{
    margin: 0;
  }

  .form-next_aventure{
    flex-direction: column;
    .bloc-next-aventure{
      width: unset;
      .form-group{
        width: 100%;
      }
    }
  }
}
#font-input-currently label {
  font-size: 12px;
}

#registration-headhunter {
  width: 70%;
  margin: auto;
  .form-label {
    width: 10% !important;
  }
  .form-line {
    justify-content: space-between;
  }
  #email-registration {
    justify-content: flex-start;
    .form-label {
      width: 17% !important;
    }
  }
}

.form-grid{
  display: grid;
  grid: auto / 17% 33% 17% 33%;
  align-items: center;
  .form-label{
    width: unset;
    min-width: 153px;
    margin: 0;
  }
}
@media screen and (max-width: 1140px) {
  .form-grid{
    grid: auto / auto;
  }
}
@media screen and (min-width: 1141px) {
  .form-grid .form-label-right-grid {
    min-width: unset;
    margin: 0 0 0 25px;
  }
}


@media screen and (min-width: 771px) {
  .width-rang {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    p {
      margin-right: 20px;
    }
    input {
      width: 90%;
    }
  }
  #add-words {
    margin-left: 15px;
  }
  #add-margin-left {
    margin-left: 15px;
  }
}

#add-words {
    text-align: left;
  }
.width-rang {
  p {
    margin: 13px;
    color: $green;
    font-size: 16px;
    font-weight: 500;
  }
}
.left-p {
  text-align: left;
}

.align-items-form {
  display: flex;
  align-items: center;
}


// grid pour experience
#experience-grid {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.experience-title-grid {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  margin: auto;
  .form-label-font-size {
    text-align: center !important;
  }
}

.company-name-grid {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.position-grid {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.company-type-grid {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}

.starting-grid {
  display: flex;
  align-items: center;
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;

}

.ending-grid {
  display: flex;
  align-items: center;
  grid-row: 1 / span 1;
  grid-column: 4 / span 1;
}
.margin-date-picker {
  p {
    width: 20%;
    margin-right: 10px;
  }
}
.currently-grid {
  text-align: center;
  grid-row: 1 / span 1;
  grid-column: 5 / span 1;
}
#text_area-experience {
  grid-row: 2 / span 2;
  grid-column: 3 / span 2;
}
.supp-grid-experience {
  grid-row: 2 / span 1;
  grid-column: 5 / span 1;
  text-align: center;
  margin-top: 7%;
}
#add-experience-grid {
  text-align: center;
  margin-top: 15px;
}
@media screen and (max-width: 770px) {
  #experience-grid {
    display: block;
    padding: 20px 0;
  }
}

