.form-container{
  padding: 0 190px;
}

.form-titre-page{
  font-weight: 900;
  font-size: 39px;
  padding-bottom: 20px;
  border-bottom: 3px solid $violet;
  margin-bottom: 80px;
  strong{
    color: $green;
  }
}

.form-line{
  display: flex;
  align-items: center;
}

.form-label {
  width: 10%;
  font-weight: 600;
  font-size: 15px;
  text-align: right;
  margin: 0;
}
.requis:after{
  content: " *";
  color: $red;
}

.form-group {
  margin: 15px;
  width: 25%;
}
.form-control:focus {
  border-color: #4ECCA3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(78, 204, 163, 0.6);
}
.invalid-feedback {
  color: $red;
  font-size: 14px;
}

/* change 'loisir' box aspect */
.select2-container--default .select2-selection--multiple {
  border: 1px solid #ccc !important;
  border-radius: 2px !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid #4ECCA3 1px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(78, 204, 163, 0.6);
}
.select2-results__option {
  color: #ccc;
  text-transform: capitalize;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #4ECCA3 !important;
}

.form-compte .form-group:nth-child(3){
  position: relative;
  top: 13px;
}
.form-label em{
  font-style: normal;
  color: $red;
}
.form-hobby-add{
  height: 39px;
  min-height: 32px;
  border: 1px solid $green;
  border-radius: 4px;
  color: $green;
}
.form-hobby-add:hover{
  color: white;
  background-color: $green;
  transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s;
}

.form-actions{
  margin: 80px;
  display: flex;
  justify-content: center;
  .form-btn{
    height: 40px;
    width: 170px;
    border-radius: 25px;
    border: 2px solid $green;
    padding: 0;
    margin: 0 30px;
  }
  .form-btn-precedent{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $green;
  }
  .form-btn-suivant{
    background-color: $green;
    color: white;
  }
}




/*CSS formations.html.erb */
.form-formations{
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.form-semi-line{
  width: 100%;
  .form-group{
    margin: 15px 30px 15px 0;
  }
}
.form-label-semi-line{
  width: 50%;
  text-align: left;
}


/* CSS checkboxes */
input[type="radio"], input[type="checkbox"] {
  margin: 4px 15px;
}

/* CSS next_aventure - A REVOIR */
.label-next_aventure{
  width: 26%;
}
.label-next_aventure-lg{
  width: 100%;
  text-align: left;
}
.form-next_aventure{
  display: flex;
}
.bloc-next-aventure{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .form-group{
    width: 60%;
  }
}
.bloc-next-aventure-right{
  .form-group{
    width: calc(100% - 15px);
  }
}






.simili-btn-A-VIRER{
  padding: 6px 12px;
  margin: 0;
}


