.container{
  width: 100%;
  padding: 0 100px;
}
 @media screen and (max-width: 596px) {
   .container{
    padding: 0 15px;
   }
 }

.filter{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 33px;
  border-bottom: 1px solid $gray;
  position: relative;
  .filter-category{
    border-right: 1px solid $gray;
    height: 100%;
    width: 230px;
    display: flex;
    align-items: center;
    p{
      color: $green;
      margin: 0;
    }
  }
  .filter-item{
    display: flex;
    justify-content: space-around;
    a{
      color: $black;
      padding: 0 20px;
    }
    a:active{
      color: $green;
    }
  }
  .alert-creation{
    position: absolute;
    right: 33px;
    text-align: right;
    a{
      color: $red;
    }
  }
}

.search-results{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  strong{
    color: $green;
  }
  em{
    text-decoration: underline;
    font-style: normal;
  }
}

.cards-repertory{
  display: flex;
  flex-wrap: wrap;
}



.page-choice{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  strong{
    background-color: $green;
    color: white;
  }
}


@media screen and (max-width: 991px) {
  .filter{
    justify-content: center;
    .filter-category{
      border-right: none;
      justify-content: center;
      .fa-angle-down{
        color: $green;
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 989px){
  .cards-repertory{
    justify-content: center;
  }
}
