.filter{
  min-height: 50px;
  border-bottom: 1px solid $gray;
  #filter-category{
    align-self: center;
    text-align: center;
    p{
      color: $green;
      margin: 0;
    }
  }
  .filter-item {
    border-left: 1px solid $gray;
    label, > a{
      padding: 0 20px;
      // max-height: 50px;
    }
    .category-choice:hover{
      color: $green;
      cursor: pointer;
    }
    .selected{
      color: $green;
    }
  }


  .alert-creation {
    align-self: center;
    text-align: center;
    p{
      color: $red;
      margin: 0;
    }
  }
}

#filter-menu {
  width: 0px !important;
  overflow-x: hidden;
  position: absolute;
  border-right: 1px solid $gray;
  height: 100vh;
  background: white;
  z-index: 3;
  transition: 0.5s;
  label.category-choice {
    padding: 10px 20px;
  }
}
#filter-menu.open {
  width: calc(16.6666666667% + 1px) !important;
}

#search-results{
  line-height: 150px;
  text-align: center;
  strong{
    color: $green;
  }
  em{
    text-decoration: underline;
    font-style: normal;
  }
}

.cards-repertory{
  display: flex;
  flex-wrap: wrap;
}



.page-choice{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  strong{
    background-color: $green;
    color: white;
  }
}


@media screen and (max-width: 991px) {
  .filter{
    justify-content: center;
    .filter-category{
      border-right: none;
      justify-content: center;
      .fa-angle-down{
        color: $green;
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 989px){
  .cards-repertory{
    justify-content: center;
  }
}
