.bandeau-visible {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f97567;
  p {
    margin: 0;
    color: white;
  }
}


.container-show{
  padding: 60px;
  min-height: calc(100vh - 190px);
}
.grid-show{
  display: grid;
  grid-template-columns: calc(30% - 30px) calc(70% - 30px);
  justify-content: space-between;
}

// Separateur
  .separateur-show{
    width: calc(100% + 20px);
    margin: 25px -10px;
  }

// Photo de profil
  .photo-profil{
    width: 170px;
    height: 170px;
    border-radius: 100px;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .initiale{
    height: 100%;
    border-radius: 100px;
    background-color: #C9C9C9;
    font-size: 5em;
    font-weight: 900;
    display: grid;
    place-items: center center;
  }
  .statut{
    width: 48px;
    height: 48px;
    background-color: $green;
    border-radius: 30px;
    border: 4px solid white;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

// Component info-1
  .info-grid-1{
    margin-bottom: 15px;
    display: grid;
    grid: auto auto / 20px auto;
  }

// Je suis plutôt
  .je-suis-plutot-grid{
    grid: auto / auto auto;
  }
  .slidecontainer-grid{
    grid: auto / auto auto auto;
  }
  .range-slider{
    position: relative;
    margin: 0 10px;
    min-width: 126px;
    height: 18px; /* Specified height */
    background: $gray; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
  }
  .range-slider:hover{
    opacity: 1;
  }
  .range-slider-cursor{
    position: absolute;
    width: 18px; /* Set a specific slider handle width */
    height: 18px; /* Slider handle height */
    background: $green; /* Green background */
    transform: translateX(-50%);
  }

// Je priorise
  .priority-list{
    list-style: none;
    counter-reset: li;
    padding: 0 0 0 16px;
    margin: unset;
  }
  .priority-list-item::before {
    content: counter(li);
    font-size: 12px;
    font-weight: 900;
    line-height: 16px;
    text-align: center;
    color: white;
    background-color: $green;
    border-radius: 50px;
    display: inline-block;
    width: 16px;
    margin: 0 5px 0 -16px;
  }
  .priority-list-item {
    counter-increment: li;
  }
  .priority-list-item:nth-child(2){
    margin: 5px 0;
  }

// Nos collaborateurs
  .profil-collaborateur{
    height: 35px;
    width: 35px;
  }
  .profil-collaborateur .initiale{
    font-size: 1em;
  }



#grid-ligne-texte{
  grid: auto / calc(25% - 30px) calc(25% - 30px) calc(25% - 30px) calc(25% - 30px);
}







.talent-left{
  width: 340px;
  display: inline-block;
  margin: 0 90px 0 0;
  position: relative;
  > div{
    margin-bottom: 30px;
  }
  .talent-name{
    position: relative;
    h1{
      font-size: 38px;
      font-weight: 600;
      text-transform: capitalize;
      margin: 0;
    }
    .talent-post{
      font-size: 24px;
      color: $gray;
      margin: 0;
      font-weight: 100;
    }
  }
  .credentials{
    background-color: $green;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    p{
      color: white;
      margin: 0;
      font-size: 18px;
      font-weight: 100;
    }
  }
  .credentials:hover{
    cursor: pointer;
  }
}



.talent-right{
  width: 70%;
  display: inline-block;
  .talent-right-up{
    display: flex;
    justify-content: space-between;
    background-color: rgba(3, 13, 88, 0.05);
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    .right-up-item{
      width: 30%;
      margin: 0 10px;
      p{
        font-size: 14px;
        text-align: justify;
      }
      .text-right-up-item{
        height: 214px;
        overflow: auto;
      }
      .text-right-up-item::-webkit-scrollbar{
        display: none;
      }
    }
    .recherche-item-right{
      align-self: flex-end;
      h5, p{
        text-align: right;
      }
    }
  }
  .talent-right-down{
    .lower-middle-body{
      position: relative;
      flex-grow: 1;
      min-width: 300px;
      .barre-pointee{
        height: 195px;
      }
    }
    .lower-middle-body:first-child{
      margin-right: 20px;
    }
    .talent-experiences{
      display: block !important;
      overflow: auto;
      height: 200px;
    }
    .talent-experiences::-webkit-scrollbar{
      display: none;
    }
    .placement-point-barre{
      margin-bottom: 30px;
    }
  }
}
.recherche-first-line{
  display: flex;
  justify-content: space-between;
}
.recherche-item{
  h5{
    font-size: 22px;
    font-weight: 600;
    color: $green;
    text-transform: uppercase;
    margin: 0;
  }
  p{
    font-size: 12px !important;
    font-weight: 600;
    color: $black;
    text-transform: uppercase;
  }
}

.relative{
  position: relative
}

.headhunter-right-up{
  width: 100%;
  height: 318px;
  margin-bottom: 90px;
  position: relative;
  .photos-environnement{
    width: 100%;
    height: calc(100% - 68px);
    display: flex;
    justify-content: space-between;
  }
  .photo-env-item{
    height: 250px;
    width: 250px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
  }
  .decouvrir-plus{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 204, 163, 0.7);
    border-radius: 8px;
    padding: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    strong{
      font-size: 55px;
      font-weight: 900;
    }
  }
  .photo-env-item:last-child:hover{
    .decouvrir-plus{
      display: flex;
      cursor: pointer;
    }
  }
}

.headhunter-right-down{
  height: 330px;
  position: relative;
  .btn-edition{
    top: -40px;
  }
  .headhunter-chiffres{
    width: 250px;
    margin: 0 30px 0 0;
  }
  .entreprise-quelques-mots{
    width: 65%;
  }
  .recherche-item{
    width: 50%;
  }
  .recherche-middle-line{
    text-align: center;
    padding: 10px;
    h5{
      margin: 0;
      font-size: 14px;
      color: $black;
      text-transform: uppercase;
    }
  }
}










@media screen and (max-width: 991px) {
  .container-show{
    padding: 20px;
    display: block;
    .talent-left, .talent-right{
      display: block;
    }
    .talent-left{
      width: unset;
      margin: 0;
    }
    .talent-right{
      width: 100%;
      .talent-right-up{
        flex-direction: column;
        margin: 20px 0;
        .right-up-item{
          width: unset;
          margin: 20px 10px;
          h4{
            margin-bottom: 20px;
          }
        }
      }
      .talent-right-down{
        margin: 20px 0;
        .lower-middle-body{
          width: unset;
          margin: 60px 0;
          .talent-experiences{
            height: unset;
            overflow: initial;
          }
        }
      }
    }
  }

  .headhunter-right-up{
    height: unset;
    margin-bottom: 40px;
    .photos-environnement{
      flex-direction: column;
      .photo-env-item{
        height: 85vw;
        width: unset;
        margin: 10px 0;
      }
      .photo-env-item:last-child .decouvrir-plus{
        display: flex;
      }
    }
  }
  .headhunter-right-down{
    height: unset;
    h4{
      margin-bottom: 20px;
    }
    .headhunter-chiffres{
      margin: 40px auto;
    }
    .entreprise-quelques-mots{
      width: unset;
      margin: 40px auto;
      .lower-left-body p{
        text-align: justify;
      }
    }
    .lower-body-item{
      padding: 0;
      .lower-right-body-item{
        padding: 0;
      }
    }
  }
}
