<div class="contact-btn">
  <%= simple_form_for @relationship, remote: false do |f| %>
    <p>Contacter <i class="fas fa-location-arrow"></i></p>
    <%= f.input :talent_id, input_html: {value: talent.id }, as: :hidden %>
    <%= f.input :headhunter_id, input_html: {value: @headhunter.id }, as: :hidden %>
    <%= f.button :submit, inline_label: "Contacter 2" %>
  <% end %>
 </div>
