<div class="footer">
  <div class="footer-left">
    <%= link_to root_path, class: "navbar-talentist-logo" do %>
      <%= image_tag "Logo The talentist-01.png", height: 50 %>
    <% end %>
    <div class="social-media-link">
      <a href="https://twitter.com/inevapartners" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/company/ineva-&-partners/?originalSubdomain=fr" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
  <!-- <div class="footer-middle footer-small-case hidden-xs hidden-sm">
    <a href="http://www.ineva-partners.com/blog/" target="_blank">Blog</a>
    <a href="https://www.linkedin.com/jobs/search/?f_C=2235090&locationId=OTHERS.worldwide" target="_blank">Nous rejoindre</a>
  </div> -->
  <div class="footer-right footer-small-case">
    <a href="http://www.ineva-partners.com/equipe/" target="_blank">Équipe</a>
    <a href="http://www.ineva-partners.com/contact/" target="_blank">Contact</a>
    <a href="http://www.ineva-partners.com/mention-legales/" target="_blank">Mentions légales</a>
  </div>
</div>
