<% if params[:action] != "home" && params[:controller] != "conversations" %>
  <div class="footer">

    <%= render 'shared/modal_contact' %>

    <div class="footer-left">
      <%= link_to root_path do %>
        <%= image_tag "Logo The talentist-01.png", height: 50 %>
      <% end %>
      <div class="flex">
        <a class="social-media-link" href="https://twitter.com/inevapartners" target="_blank"><i class="social-media-link-icon fab fa-twitter"></i></a>
        <a class="social-media-link" href="https://www.linkedin.com/company/ineva-&-partners/?originalSubdomain=fr" target="_blank"><i class="social-media-link-icon fab fa-linkedin-in"></i></a>
      </div>
    </div>
    <!-- <div class="footer-middle footer-small-case hidden-xs hidden-sm">
      <a href="http://www.ineva-partners.com/blog/" target="_blank">Blog</a>
      <a href="https://www.linkedin.com/jobs/search/?f_C=2235090&locationId=OTHERS.worldwide" target="_blank">Nous rejoindre</a>
    </div> -->

    <div class="footer-right footer-small-case">
      <a href="http://www.ineva-partners.com/equipe/" target="_blank">Équipe</a>
      <a class="modal-button" data-target= "modal_contact">Contact</a>
      <%= link_to mentions_legales_path do  %>
        <p>Mentions légales</p>
      <% end %>

  <!--     <a href="">CGU</a>
      <a href="">FAQ</a>
      <a href="">Politique de confidentialité</a> -->
    </div>
  </div>
<% end %>
