<div class="footer">
  <div class="footer-left">
    <%= link_to root_path, class: "navbar-talentist-logo" do %>
      <%= image_tag "Logo The talentist-01.png", height: 50 %>
    <% end %>
    <div class="social-media-link">
      <a href=""><i class="fab fa-facebook-f"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
      <a href=""><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
  <div class="footer-middle footer-small-case hidden-xs hidden-sm">
    <a href="">A propos</a>
    <a href="">Contact</a>
    <a href="">Blog</a>
    <a href="">Nous rejoindre</a>
  </div>
  <div class="footer-right footer-small-case">
    <a href="">Mentions légales</a>
    <a href="">CGU</a>
    <a href="">FAQ</a>
    <a href="">Politique de confidentialité</a>
  </div>
</div>
