<div class="form-progression">
  <hr>
  <div class="form-progression-items">
    <div class="form-progression-item" id="1">
      <div class="point-barre-pointee"></div>
      <div class="progression-step">
        <div class="step-number"><p>01</p></div>
        <div class="step-name"><p>Informations<br>générales</p></div>
      </div>
    </div>
    <div class="form-progression-item" id="2">
      <div class="point-barre-pointee"></div>
      <div class="progression-step">
        <div class="step-number"><p>02</p></div>
        <div class="step-name"><p>Formation &<br>compétences</p></div>
      </div>
    </div>
    <div class="form-progression-item" id="3">
      <div class="point-barre-pointee"></div>
      <div class="progression-step">
        <div class="step-number"><p>03</p></div>
        <div class="step-name"><p>Expériences<br>Professionnelles</p></div>
      </div>
    </div>
    <div class="form-progression-item" id="4">
      <div class="point-barre-pointee"></div>
      <div class="progression-step">
        <div class="step-number"><p>04</p></div>
        <div class="step-name"><p>Ma prochaine<br>aventure</p></div>
      </div>
    </div>
  </div>
</div>
