<div id="modal_contact" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h3>Envoyez-nous un message</h3>
      <span class="close" id="close_modal_contact">
        <p>&times;</p>
      </span>
    </div>
    <div class="modal-body">
      <%= render 'shared/contact_form' %>
    </div>
  </div>
</div>
