<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="talent-modal">

      <div class="modal-header">
        <h3>Chef de projet web / Mobile</h3>
        <div class="contact-btn">
          <p>Contacter <i class="fas fa-location-arrow"></i></p>
        </div>
        <span class="close">
          <p>&times;</p>
        </span>
      </div>

      <div class="modal-body">
        <div class="upper-body">
          <div class="upper-left-body">
            <div class="talent-info">
              <div class="talent-info-item-33 card-dispsition">
                <p class="icon icon-info"><i class="fas fa-map-marker-alt"></i></p>
                <p>Paris</p>
              </div>
              <div class="talent-info-item-33 card-dispsition">
                <p class="icon icon-info"><i class="fas fa-code-branch"></i></p>
                <p>BtoB</p>
              </div>
              <div class="talent-info-item-33 card-dispsition">
                <p class="icon icon-info"><i class="fas fa-briefcase"></i></p>
                <p>CDI</p>
              </div>
              <div class="talent-info-item card-dispsition">
                <p class="icon icon-info"><i class="far fa-compass"></i></p>
                <p>Marketing</p>
              </div>
              <div class="talent-info-item card-dispsition">
                <p class="icon icon-info"><i class="far fa-calendar"></i></p>
                <p>3 ans d'expérience</p>
              </div>
            </div>
            <div class="talent-school">
              <p class="blue-background talent-school-item"><i class="fas fa-graduation-cap"></i> Centrale, Master entrepreneuriat - 2015</p>
              <p class="white-background talent-school-item"><i class="fas fa-graduation-cap"></i> HEC, Master entrepreneuriat - 2014</p>
            </div>
          </div>
          <div class="upper-right-body">
            <p class="talent-metier"><i class="fas fa-search"></i> DATA</p>
            <div class="illu-card illu-modal"></div>
          </div>
        </div>
        <div class="lower-body">
          <div class="lower-body-item lower-left-body">
            <h4><i class="far fa-id-badge"></i> PROFIL</h4>
            <div class="lower-body-item-content">
              <div>
                <h5>Qui suis-je ?</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet.</p>
              </div>
              <div>
                <h5>Le job de mes rêves</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
          </div>
          <div class="lower-body-item lower-middle-body">
            <h4><i class="far fa-file-alt"></i> EXPÉRIENCES</h4>
            <div class="lower-body-item-content">
              <hr class="barre-pointee">
              <div class="talent-experiences">
                <div class="placement-point-barre">
                  <div>
                    <div class="point-barre-pointee"></div>
                  </div>
                  <div class="placement-talent-experience">
                    <p class="experience-post">Chef de projet Web et mobile</p>
                    <p class="experience-entreprise">Renault SAS</p>
                    <p class="experience-duree">Mai 2015 - Aujourd’hui</p>
                  </div>
                </div>
                <div class="placement-point-barre">
                  <div>
                    <div class="point-barre-pointee"></div>
                  </div>
                  <div class="placement-talent-experience">
                    <p class="experience-post">CHEF DE PROJET WEB & MOBILE</p>
                    <p class="experience-entreprise">Renault SAS</p>
                    <p class="experience-duree">Mai 2015 - Aujourd’hui</p>
                  </div>
                </div>
                <div class="placement-point-barre">
                  <div>
                    <div class="point-barre-pointee"></div>
                  </div>
                  <div class="placement-talent-experience">
                    <p class="experience-post">CHEF DE PROJET WEB & MOBILE</p>
                    <p class="experience-entreprise">Renault SAS</p>
                    <p class="experience-duree">Mai 2015 - Aujourd’hui</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lower-body-item lower-right-body">
            <div class="lower-right-body-item">
              <h4><i class="fas fa-sliders-h"></i> COMPÉTENCES</h4>
              <div class="talent-competences">
                <p>Comm</p>
                <p>adobe</p>
                <p>photoshop</p>
                <p>vente</p>
                <p>marketing</p>
              </div>
            </div>
            <div class="lower-right-body-item">
              <h4><i class="fas fa-search-plus"></i> HOBBIES</h4>
              <div class="talent-competences">
                <p>Comm</p>
                <p>adobe</p>
                <p>photoshop</p>
                <p>vente</p>
                <p>marketing</p>
              </div>
            </div>
          </div>
          <div class="contact-btn">
            <p>Contacter <i class="fas fa-location-arrow"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
