<% if current_user.count_unread_message > 0 %>
  <p class="notif"><%= current_user.count_unread_message > 100 ? "99" : current_user.count_unread_message %></p>
<% elsif @headhunter.completed_totaly < 95 %>
  <p class="notif"></p>
<% end %>
