<p>Hi <%= @user.firstname %>,</p>


<h1> Vous avez été par <%= @headhunter.firstname %>!</h1>



<div class="button_green">
  <%= link_to root_url do %>
    Viens sur la plateforme
  <% end %>
</div>



