<h1><%= @user.firstname %>,</h1>

<p>Bonjour <%= @user.firstname %>, nous avons bien reçu ta demande de candidature sur The Talentist et nous t’en remercions. Ton profil a bien retenu notre attention. Cependant, après avoir étudié celui-ci, nous sommes au regret de ne pouvoir retenir ce dernier.</p>
<br>
<%= @user.declined %>
<br>
<p>Nous gardons pour autant précieusement ton profil en tête et n’hésiterons pas si la moindre opportunité qui pourrait te correspondre se présente.</p>
<br>
<p>
Toute l’équipe du Talentist te souhaite beaucoup de réussite dans tes recherches et reste à ta disposition !</p>
<br>
<p>
A très vite,

Magdalena & Dimitri
</p>
