<div class="tab_gallery-grid">
  <% count = @startup.pictures.length %>

  <% @startup.pictures.first(5).each do |photo| %>
      <div data-target="modal_image_<%= photo.id %>" class="modal-button" style="background-image: url('<%= cl_image_path photo.photo  %>')"></div>
      <%= render 'component_avem/modal_image_apparition', photo: photo %>
  <% end %>

  <% if count < 5 && current_user.is_a?(Headhunter) %>
    <% for i in 1..(5-count) %>
      <div class="center-text" style="background-color: gray; padding: 15px;">Ajoutez encore une photo</div>
    <% end %>
  <% end %>
</div>
