<div class="tab_gallery-grid">
  <% @startup.pictures.first(5).each do |photo| %>
    <% if photo.photo? %>
      <div data-target="modal_image_<%= photo.id %>" class="modal-button" style="background-image: url('<%= cl_image_path photo.photo.url(:big_picture)  %>')"></div>
      <%= render 'component_avem/modal_image_apparition', photo: photo %>
    <% else %>
      <% if !current_user.is_a?(Talent) %>
        <div class="center-text" style="background-color: lightgray; padding: 15px;">Ajoutez encore une photo</div>
      <% end %>
    <% end %>
  <% end %>
</div>
