<div class="nested-fields form-line">
  <p class="form-label requis">Formation(s)</p>
  <%= f.association :formation, collection: Formation.all, prompt:"Établissement", label: false, input_html: { class:"select2"}  %>
  <%= f.input :title, placeholder: "Diplôme", label: false  %>
  <%= f.input :year, collection: 1992..2018, prompt: "Année d'obtention", label: false   %>
  <%= link_to_remove_association "Supprimer", f %>
</div>
