<div class='nested-fields row margin-bottom-15 align-items-center'>
  <div class="col-xs-10">
    <%= f.input :title, label: false, prompt:"Choisir", collection: [ "Ville actuelle", "Paris", "France", "Europe", "Hors Europe" ], :input_html => { :class => 'select2 no-search', style: "width: 100%" }%>
  </div>
  <div class="col-xs-2 text-align-right">
    <%= link_to_remove_association f do %>
      <i class="fas fa-trash-alt no-padding"></i>
    <% end %>
  </div>
</div>
