<div class='nested-fields col-xs-6 flex align-items-baseline margin-bottom-15'>
  <div class="col-xs-10 no-padding">
    <%= f.input :description, placeholder: "Assidu, ponctuel, ...", label: false, as: :text, input_html: {rows: '1', style: "width: 100%", class: "input_petit_plus"} %>
  </div>
  <div class="col-xs-2 no-padding">
    <%= link_to_remove_association f do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
<!-- <div class="col-xs-5 margin-bottom-15">
    <%#= f.input :description, placeholder: "Assidu, ponctuel, ...", label: false, as: :text, input_html: {rows: '1', style: "width: 100%", class: "input_petit_plus"} %>
  </div>
  <div class="col-xs-1 no-padding" style="line-height: 35px;">
    <%#= link_to_remove_association f do %>
      <i class="fas fa-trash-alt"></i>
    <%# end %>
  </div>
  <div class="col-xs-5 margin-bottom-15">
    <%#= f.input :description, placeholder: "Assidu, ponctuel, ...", label: false, as: :text, input_html: {rows: '1', style: "width: 100%", class: "input_petit_plus"} %>
  </div>
  <div class="col-xs-1 no-padding" style="line-height: 35px;">
    <%#= link_to_remove_association f do %>
      <i class="fas fa-trash-alt"></i>
    <%# end %>
  </div> -->


</div>
