<div class='nested-fields row margin-bottom-15 align-items-center'>
  <div class="col-xs-10">
    <%= f.input :description, placeholder: "Assidu, ponctuel, ...", label: false, as: :text, input_html: {rows: '1', style: "width: 100%", class: "input_petit_plus"} %>
  </div>
  <!-- TODO button -->
  <div class="col-xs-2 text-align-right">
    <%= link_to_remove_association f do %>
      <i class="fas fa-trash-alt no-padding"></i>
    <% end %>
  </div>
</div>
