<div class='nested-fields row'>
  <div class="col-xs-12 col-lg-9">
    <%= f.input :description, label: false, as: :text, input_html: {rows: '1'} %>
  </div>
  <!-- TODO button -->
  <div class="col-xs-12 col-lg-3" id="supp-words">
    <%= link_to_remove_association "Supprimer", f %>
  </div>
</div>
