

<div class="forgot_password" id="cgu">

  <h2 class="relative">
    Conditions Générales d’Utilisation <strong>THE TALENTIST</strong>
    <br>
    Applicables aux <strong>TALENTS</strong>
    <%= link_to 'javascript:history.back()' do  %>
      <div class="btn-edition-container" style="right: 0; bottom: 0;">
        <p class="no-margin label-edit align-center green"><i class="fas fa-angle-left"></i> Retour</p>
      </div>
    <% end %>
  </h2>

  <p>
    La S.A.R.L. INEVA &amp; PARTNERS accompagne les entreprises du secteur
    digital, numérique, informatique et Internet dans le recrutement de talents
    à fort potentiel.
  </p>

  <p>
    Dans le cadre de cette activité, la S.A.R.L. INEVA &amp; PARTNERS édite le
    service « The Talentist » offrant aux utilisateurs inscrits la possibilité
    de trouver de nouvelles opportunités professionnelles en mettant à la
    disposition des employeurs de son réseau les profils professionnels de ces
    utilisateurs et permettant ainsi aux employeurs qui le souhaitent de leur
    proposer un entretien susceptible de conduire à la signature d’un contrat
    de travail ou de tout autre contrat rémunéré.
  </p>

  <p>
    Le Service est disponible sur la plateforme accessible à l’adresse
    www.thetalentist.com.
  </p>

  <p>
    Les présentes conditions générales d’utilisation (ci-après dénommées les «
    CGU ») régissent l’accès, l’inscription, la consultation, et plus
    généralement l’utilisation du service par les utilisateurs.
  </p>

  <h3>
    ARTICLE 1 – DEFINITIONS
  </h3>

  <p>
    « Acceptation » : désigne l’accord donné par le Talent pour entrer
    directement en contact avec l’Employeur depuis la Messagerie et pour
    transmettre à l’Employeur intéressé certaines Données personnelles du
    Talent (nom, prénom, email, numéro de téléphone, école et année de
    diplôme).
  </p>
  <p>
    « Commission » : désigne la rémunération de l’Éditeur due par l’Employeur
    lors de la régularisation d’un Contrat.
  </p>
  <p>
    « Compte Utilisateur » ou « Compte Talent » : désigne l’enregistrement des
    Données personnelles du Talent (nom, date et lieu de naissance, mot de
    passe, email, numéro de téléphone) ainsi que les informations nécessaires à
    la création du Profil Utilisateur du Talent lui permettant d’accéder au
    Service.
  </p>
  <p>
    « Contrat » : désigne tout accord rémunéré entre l’Employeur et le Talent
    dont la mise en relation a été effectuée à partir du Service.
  </p>
  <p>
    « Données personnelles » : Désigne les informations fournies par le Talent
    strictement nécessaires à la création du Compte Utilisateur et à
    l’utilisation du Service et permettant son identification (nom, prénom,
    numéro de téléphone portable, adresse email, école et année d’obtention du
    diplôme, mot de passe confidentiel…).
  </p>
  <p>
    « Éditeur » : désigne la S.A.R.L. INEVA &amp; PARTNERS, éditeur du Service.
  </p>
  <p>
    « Employeur » : désigne les sociétés commerciales, susceptibles d’être
    intéressées par les Profils Utilisateurs, ayant souscrit au Service proposé
    par l’Éditeur.
  </p>
  <p>
    « Messagerie » : désigne le service de messagerie professionnelle et privée
    mis en place par l’Éditeur permettant au Talent et à l’Employeur d’échanger
    directement à partir de la Plateforme. Le Talent, comme l’Employeur, est
    informé que l’Éditeur, qui est susceptible de veiller au bon déroulement
    des échanges, a accès à l’intégralité des échanges publiés sur la
    Messagerie.
  </p>
  <p>
    « Plateforme » désigne le site internet fourni par l’Editeur accessible à
    l’URL www.thetalentist.com permettant aux Talents et aux Employeurs
    d’accéder au Service.
  </p>
  <p>
    « Profil Professionnel » : Désigne les informations relatives au Talent
    publiquement accessibles aux Employeurs sur la Plateforme et notamment la
    description de leurs compétences, leurs diplômes, leurs prétentions
    salariales et leurs expériences à l’exclusion de leurs Données
    personnelles.
  </p>
  <p>
    « Service » ou « The Talentist » : désigne les services proposés par
    l’Éditeur sur la Plateforme.
  </p>
  <p>
    <strong>
      <br/>
    </strong>
  </p>
  <p>
    « Utilisateur » ou « Talent » : désigne toute personne physique majeure
    disposant d’un Compte Utilisateur qui utilise le Service.
  </p>
  <h3>
    ARTICLE 2 – OBJET ET ACCEPTATION PREALABLE
  </h3>
  <p>
    Les présentes CGU constituent les conditions contractuelles applicables
    entre l’Éditeur et tout Utilisateur qui souhaite accéder, consulter,
    enregistrer, visualiser et plus généralement utiliser le Service à partir
    de tout support (ordinateur personnel, tablette numérique, téléphone
    portable…).
  </p>
  <p>
    L’Utilisateur déclare être majeur et avoir lu et accepté les présentes CGU
    préalablement à la création de son Compte Utilisateur, il est invité à ce
    titre, lors de la création de son compte, à déclarer, par le moyen d’une
    case à cocher, qu’il a lu et accepté les présentes CGU.
  </p>
  <p>
    Tout Utilisateur ne souhaitant pas adhérer aux CGU dans leur intégralité
    doit s'abstenir d'utiliser le Service.
  </p>
  <p>
    Lorsque son inscription a été validée par l’Éditeur, l’Utilisateur reçoit
    les présentes CGU par email, en format Pdf.
  </p>
  <p>
    En cas de modification des présentes CGU, l’Editeur adressera au Talent,
    sur tout support durable, les nouvelles conditions applicables au moins un
    mois avant leur entrée en vigueur.
  </p>
  <p>
    Conformément aux dispositions de l’article 4, le Talent peut clôturer son
    Compte Utilisateur à tout moment.
  </p>
  <h3>
    ARTICLE 3 – DESCRIPTION DU SERVICE
  </h3>
  <p>
    Le Service propose aux Talents de mettre à la disposition des Employeurs
    leur Profil professionnel afin de permettre aux Employeurs intéressés
    d’entrer en contact avec eux, notamment par le biais de la Messagerie, sous
    réserve de l’Acceptation du Talent.
  </p>
  <p>
    Lorsqu’un Employeur manifeste son intérêt pour un Profil professionnel, le
    Talent concerné dispose d’un délai de 14 (quatorze) jours pour accepter
    l’offre d’entrer en contact formée par l’Employeur.
  </p>
  <p>
    L’Acceptation par le Talent, permet également aux Employeurs d’avoir accès
    à certaines Données personnelles du Talent : nom, prénom, email, numéro de
    téléphone, école et année de diplôme.
  </p>
  <p>
    Une fois l’Acceptation du Talent obtenue, l’Employeur et le Talent pourront
    communiquer directement, notamment par le biais de la Messagerie mise à
    leur disposition. Il est rappelé que l’Éditeur, dans le cadre de sa mission
    de courtage, dispose d’un accès à l’intégralité des messages échangés entre
    le Talent et l’Employeur.
  </p>
  <p>
    Le Talent est parfaitement libre d’accepter ou de refuser d’entrer en
    contact avec un Employeur, d’accepter ou de refuser tout entretien,
    d’accepter ou de refuser tout Contrat.
  </p>
  <h3>
    ARTICLE 4 – CREATION D’UN COMPTE UTILISATEUR
  </h3>
  <p>
    4.1. Le Talent doit, préalablement à l’utilisation du Service, créer un
    Compte Utilisateur en renseignant ses Données personnelles et son Profil
    professionnel, ces données devant être exactes et sincères.
  </p>
  <p>
    Le Talent peut également se connecter à la Plateforme et créer un Compte
    Utilisateur en utilisant ses identifiants LinkedIn® (identifiant et mot de
    passe). Ce faisant, le Talent autorise l’Éditeur à avoir accès à certaines
    informations personnelles et professionnelles renseignées sur le réseau
    social LinkedIn® (pour plus d’informations
    <a
      href="https://www.linkedin.com/help/testing/answer/9557/se-connecter-avec-les-identifiants-de-linkedin?lang=fr"
    >
      https://www.linkedin.com/help/testing/answer/9557/se-connecter-avec-les-identifiants-de-linkedin?lang=fr
    </a>
    ).
  </p>
  <p>
    Préalablement à l’activation de son Compte Utilisateur, les Données
    personnelles et le Profil professionnel du Talent seront transmis à
    l’Éditeur qui pourra assister le Talent dans la rédaction et la
    présentation de son Profil professionnel et vérifier auprès de lui la
    sincérité des informations fournies. A ce titre, le Talent s’engage à
    transmettre à l’Éditeur tout justificatif nécessaire (identité, diplômes,
    expériences professionnelles…).
  </p>
  <p>
    Tout Compte Utilisateur est validé par l’Éditeur, préalablement à la mise
    en ligne du Profil professionnel du Talent. L’Éditeur se réserve le droit
    de refuser de mettre en ligne tout Profil professionnel manifestement
    incomplet, inapproprié (ne correspondant pas aux domaines d’activité des
    Employeurs par exemple), ou fantaisiste.
  </p>
  <p>
    L’Éditeur s’engage à prendre attache avec le Talent ou à mettre en ligne
    son Profil professionnel dans un délai de 7 (sept) jours ouvrés à compter
    de la réception de ses Données personnelles et de son Profil professionnel.
  </p>
  <p>
    4.2. Le Compte Utilisateur est personnel et ne peut être utilisé par toute
    autre personne que le Talent, transféré ou cédé à un tiers. L’Utilisateur
    s’engage à conserver secrets ses identifiants et à ne pas les divulguer. Il
    est seul responsable de l’accès à son Compte Utilisateur avec ses
    identifiants, sauf preuve d’une utilisation frauduleuse par un tiers.
  </p>
  <p>
    A partir de son Compte Utilisateur, le Talent a accès à la Plateforme lui
    permettant :
  </p>
  <ul>
    <li>
      <p>
        de soumettre son Profil professionnel aux Employeurs ;
      </p>
    </li>
    <li>
      <p>
        d’accepter de communiquer aux Employeurs intéressés tout ou partie
        de se Données personnelles (Acceptation) ;
      </p>
    </li>
    <li>
      <p>
        d’échanger avec un Employeur intéressé par son Profil professionnel
        sur la Messagerie mise à sa disposition, notamment pour organiser
        un ou plusieurs entretien(s).
      </p>
    </li>
  </ul>
  <p>
    La création d’un Compte Utilisateur est gratuite et pour une durée
    indéterminée.
  </p>
  <p>
    Un Compte Utilisateur peut être clôturé à tout moment par le Talent, sur
  simple demande formée par email, à l’Éditeur à l’adresse  <a href="mailto:contact@ineva.partners.com">contact@ineva.partners.com</a>
    auquel est joint une photocopie de la carte d’identité du Talent. L’Éditeur
    s’engage à clôturer le compte du Talent sous 48h00 ouvrées à compter de la
    réception de la demande. Le Talent est informé que la fermeture de son
    Compte Utilisateur entraîne la suppression définitive de la Plateforme de
    toutes les données y figurant (Données personnelles et Profil
    professionnel) et de tous les messages qui y sont associés.
  </p>
  <h3>
    ARTICLE 5 – OBLIGATION DU TALENT / RÉMUNÉRATION DE L’ÉDITEUR
  </h3>
  <p>
    Le Talent est informé que, dans le cadre de sa mission de courtage,
    l’Éditeur perçoit une Commission versée par l’Employeur lorsque le Talent
    accepte, dans les 12 (douze) mois à compter de la date d’Acceptation par le
    Talent ou, si ce délai est plus long, du dernier échange sur la Messagerie,
    l’offre rémunérée de tout Employeur (Contrat) avec lequel il est entré en
    relation par l’intermédiaire de la Plateforme.
  </p>
  <p>
    A ce titre, le Talent s’engage irrévocablement :
  </p>
  <ul>
    <li>
      <p>
        à informer l’Éditeur de la date de signature du Contrat ;
      </p>
    </li>
    <li>
      <p>
        à transmettre à l’Éditeur une copie du Contrat ou tout document
        confirmant un accord de volontés et détaillant les conditions
        arrêtées (durée du contrat, salaire, intitulé du poste…).
      </p>
    </li>
  </ul>
  <h3>
    ARTICLE 6 – UTILISATION DU SERVICE
  </h3>
  <p>
    6.1. Le Talent reconnaît qu’en cas d’Acceptation de sa part à une
    sollicitation d’un Employeur, il ne pourra communiquer, dans un premier
    temps avec l’Employeur, qu’à partir de la Messagerie mise à leur
    disposition jusqu’à ce qu’ils conviennent ensemble, le cas échéant, d’un
    entretien.
  </p>
  <p>
    6.2. Les Utilisateurs sont informés que chaque contenu publié sur la
    Messagerie paraît sous la responsabilité exclusive du Talent, le Service
    assurant seulement son stockage. Si l’Éditeur dispose d’un accès permanent
    aux correspondances professionnelles échangées sur la Messagerie entre les
    Talents et les Employeurs, il n’intervient en aucune manière dans la
    rédaction des messages et leur mise en ligne.
  </p>
  <p>
    6.3. Tout Utilisateur s’engage, dans le cadre des discussions privées qu’il
    pourrait avoir avec des Employeurs depuis la Messagerie à ne pas
    contrevenir à la législation en vigueur et aux intérêts légitimes des
    Employeurs et de l’Éditeur. A ce titre l’Utilisateur s’interdit, notamment
    :
  </p>
  <ul>
    <li>
      <p>
        de diffuser des contenus trompeurs ou diffamatoires ou injurieux ;
      </p>
    </li>
    <li>
      <p>
        de publié tout contenu attentatoire aux droits de la personnalité ;
      </p>
    </li>
    <li>
      <p>
        de ne pas usurper l’identité d’un Utilisateur.
      </p>
    </li>
  </ul>
  <p>
    <strong>
      <br/>
    </strong>
  </p>
  <p>
    6.4. Tout Utilisateur, dans le cadre de l’utilisation du Service,
    s’interdit notamment :
  </p>
  <p>
    <strong>
      <br/>
    </strong>
  </p>
  <ul>
    <li>
      <p>
        de procéder à un quelconque acte de piratage informatique ou de
        collecte frauduleuse de données personnelles ;
      </p>
    </li>
    <li>
      <p>
        de ne pas usurper l’identité d’un Utilisateur ;
      </p>
    </li>
    <li>
      <p>
        de perturber ou de tenter de perturber le fonctionnement et/ou
        l’accessibilité du Service ou de tout autre service et/ou contenu
        accessible sur Internet ;
      </p>
    </li>
    <li>
      <p>
        de propager des virus ou d'autres dispositifs ou logiciels
        malveillants susceptibles de nuire à l’Editeur ou aux Utilisateurs
        et aux Employeurs ;
      </p>
    </li>
    <li>
      <p>
        de collecter, de quelque façon que ce soit, des informations sur
        les Talents et les Employeurs sans leur consentement.
      </p>
    </li>
  </ul>
  <p>
    <strong>
      <br/>
    </strong>
  </p>
  <p>
    Dans l’hypothèse où un Utilisateur n’aurait pas observé l’une des
    dispositions visées ci-dessus, l’Éditeur se réserve le droit de suspendre
    ou de supprimer son Compte Utilisateur.
  </p>
  <h3>
    ARTICLE 7 – DISPONIBILITE DU SERVICE
  </h3>
  <p>
    Le Service est accessible en permanence.
  </p>
  <p>
    Toutefois, pour des raisons techniques et notamment pour assurer la mise à
    jour du Service, le Talent est informé que l’accès à la Plateforme peut
    être coupé au maximum 2 heures par jour entre 0h et 6h du matin – GMT+1.
  </p>
  <p>
    L’Éditeur se réserve le droit d’apporter des modifications et des
    améliorations au Service. Ces modifications, effectuées dans l’intérêt de
    l’Utilisateur, n'entraîneront aucune modification des présentes CGU.
  </p>
  <h3>
    ARTICLE 8 – RESPONSABILITE
  </h3>
  <p>
    L’Éditeur apportera tout son savoir-faire et ses capacités techniques pour
    assurer, dans les règles de l’art et selon les usages de la profession, le
    bon fonctionnement du Service.
  </p>
  <p>
    L’Éditeur ne pourra être tenu pour responsable des dommages subis par le
    Talent et liés notamment :
  </p>
  <ul>
    <li>
      <p>
        à une interruption et/ou un dysfonctionnement du Service imputable
        à un cas de force majeure tel que définit à l’article 11 ou au fait
        personnel du Talent ;
      </p>
    </li>
    <li>
      <p>
        à une utilisation du Service non conforme aux présentes
        dispositions ou à la réglementation applicable ;
      </p>
    </li>
    <li>
      <p>
        à la défaillance momentanée du Service en raison d’opérations de
        maintenance.
      </p>
    </li>
  </ul>
  <p>
    L’Éditeur ne pourra être tenu responsable que du dommage direct, personnel
    et certain subi par le Talent pour lequel il aura démontré que les
    agissements de l’Éditeur sont à l’origine de ce préjudice.
  </p>
  <h3>
    ARTICLE 9 – PROPRIETE INTELLECTUELLE
  </h3>
  <p>
    L’ensemble des éléments (textes, images, photographies, éléments sonores,
    logiciels, Messagerie, icônes, graphisme, mise en page, base de données,
    marques, logos, etc.) du Service mais aussi sa structure et son contenu
    éditorial sont protégés au titre des droits de propriété intellectuelle
    correspondants : droit d'auteur, droit des marques, droit du producteur de
    base de données, etc. dont l’Éditeur est titulaire.
  </p>
  <p>
    Par conséquent, aucune reproduction, représentation, adaptation, traduction
    et/ou transformation partielle ou intégrale, ou reprise de tout élément de
    la Plateforme ne peut avoir lieu sans l’autorisation expresse et préalable
    de la l’Éditeur.
  </p>
  <p>
    L’Éditeur est titulaire de la marque « The Talentist ». Par conséquent
    toute reproduction, imitation ou utilisation de la marque The Talentist est
    interdite sans autorisation préalable et écrite de l’Éditeur.
  </p>
  <h3>
    ARTICLE 10 – DONNEES PERSONNELLES
  </h3>
  <p>
    La création d’un Compte Utilisateur implique la communication à l’Éditeur
    de certaines données à caractère personnel le concernant. Le Talent est
    informé que le refus de communiquer certaines données identifiées comme
    obligatoires lors du processus de création du Compte Utilisateur ne lui
    permettra pas de finaliser son inscription et d’utiliser le Service.
  </p>
  <p>
    L’Éditeur est responsable du traitement des données personnelles qui lui
    sont transmises par l’Utilisateur, et qui sont nécessaires à l’utilisation
    du Service.
  </p>
  <p>
    Les données personnelles fournies sont traitées et utilisées par l’Éditeur
    exclusivement pour le bon fonctionnement et la gestion du Service. Lors de
    la clôture du Compte Utilisateur, les données à caractère personnel
    traitées pour le compte du Client sont détruites.
  </p>
  <p>
    Dans le cadre de l’utilisation du Service, le Talent pourra toutefois
    donner expressément et personnellement son autorisation à la communication,
    à un Employeur, de certaines Données personnelles le concernant
    (Acceptation).
  </p>
  <p>
    Le Talent est informé que, conformément à la législation en vigueur,
    l’Éditeur peut se voir ordonner de communiquer tout ou partie de ses
    données à caractère personnel et de ses identifiants de connexion aux
    autorités judiciaires ou à des tiers, sur requête.
  </p>
  <p>
    Conformément aux dispositions de la loi n°78-17 du 6 janvier 1978 «
    Informatique et Liberté », tout Utilisateur dispose d’un droit d’accès,
    d’opposition et de rectification de ses données personnelles détenues par
    l’Éditeur qu’il peut exercer par tout moyen à sa convenance (courrier
    électronique et courrier postal). Toute demande de l’Utilisateur devra être
    accompagnée de la photocopie d'une pièce d'identité portant la signature du
    Talent.
  </p>
  <p>
    L’Éditeur s’engage à répondre promptement au Talent à compter de la
    réception de la demande.
  </p>
  <p>
    L’Éditeur s’engage à assurer la sécurité de vos données en mettant en place
    une protection des données renforcée par l’utilisation de moyens
    informatiques et humains conformes aux règles de l’art.
  </p>
  <p>
    L’Éditeur déclare tenir un fichier recensant toutes les catégories
    d’activité de traitement effectuées pour le compte du Talent comprenant :
  </p>
  <ul>
    <li>
      <p>
        la liste des données personnelles fournies par les Talents ;
      </p>
    </li>
    <li>
      <p>
        les catégories de traitements effectués pour le compte du Talent ;
      </p>
    </li>
    <li>
      <p>
        le cas échéant, les transferts de données à caractère personnel
        vers un pays tiers (hébergement), y compris l'identification de ce
        pays tiers et, dans le cas des transferts visés à l'article 49,
        paragraphe 1, deuxième alinéa du règlement européen sur la
        protection des données, les documents attestant de l'existence de
        garanties appropriées (en l’occurrence une décision d’adéquation de
        la Commission européenne concernant certains pays assurant un
        niveau de protection adéquat) ;
      </p>
    </li>
    <li>
      <p>
        dans la mesure du possible, une description générale des mesures de
        sécurité techniques et organisationnelles.
      </p>
    </li>
  </ul>

  <h3>
    ARTICLE 11 – FORCE MAJEURE
  </h3>
  <p>
    Sont considérés comme des cas de force majeure ceux habituellement retenus
    par la jurisprudence de la Cour de cassation et/ou au sens de l’article
    1218 du Code civil. L’Editeur ne pourra être tenu responsable envers le
    Talent d’un éventuel dysfonctionnement du Service imputable à un cas de
    force majeure ou au fait personnel de l’Utilisateur.
  </p>

  <h3>
    ARTICLE 12 – DISPOSITIONS DIVERSES
  </h3>
  <p>
    Dans l'hypothèse où une des dispositions figurant dans ces CGU devait
    s'avérer illégale, invalide ou inapplicable, pour quelle que raison que ce
    soit, elle sera considérée comme non écrite et les autres dispositions des
    présentes CGU resteront en vigueur et continueront de s'appliquer entre le
    Talent et l’Éditeur.
  </p>

  <h3>
    ARTICLE 13 – LOI APPLICABLE ET JURIDICTIONS COMPETENTES
  </h3>
  <p>
    Les présentes CGU sont régies par la loi française. A défaut de règlement
    amiable dans le mois suivant la réception d’un courrier recommandé avec
    accusé de réception exposant les motifs de la réclamation, tout litige
    relatif à leur validité, leur interprétation ou leur exécution relève des
    tribunaux français compétents.
  </p>

  <h3>
    ARTICLE 14 – MENTIONS LEGALES ET COORDONNEES
  </h3>
  <p>
  Le Service est accessible à partir de l’adresse URL <a href="http://www.thetalentist.com">www.thetalentist.com</a> et à toute
    autre adresse désignée par l’Éditeur.
  </p>
  <p>
    Le Service est édité par la société INEVA &amp; PARTNERS, 9, rue Saint
    Fiacre 75002 Paris, inscrite au registre du commerce et des sociétés de
    Paris sous le numéro 531 821 296.
  </p>
  <p>
    Le Directeur de la publication du site est Monsieur Aymard LE BEGUE DE
    GERMINY.
  </p>
  <p>
    Pour toute question sur l’entreprise ou le Service, vous pouvez adresser
  vos questions par email à <a href="mailto:contact@ineva.partners.com">contact@ineva.partners.com</a>.
  </p>
  <p>
    L’hébergeur du site sur lequel le Service est disponible est : Heroku Inc.,
    at The Landmark @ One Market, Suite 300, San Francisco, California 94105
  </p>


</div>
