<%= render "shared/navbar" %>

<h1>Ceci est la page d'accueil</h1>
<div class="centrer_la_page">
  <%= link_to 'Je suis un talent', new_talent_session_path, class: "btn btn-primary" %>
  <%= link_to 'Je suis une startup', new_headhunter_session_path, class: "btn btn-primary" %>
</div>



<%= render "shared/footer" %>
