<div class="navbar-wagon">

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to 'Log out', destroy_talent_session_path, :method => 'delete' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<h1>Ceci est la page d'accueil</h1>
<div class="centrer_la_page">
  <%= link_to 'Je suis un talent', new_talent_registration_path, class: "btn btn-primary" %>
  <%= link_to 'Je suis une startup', root_path, class: "btn btn-primary" %>
  <%= link_to 'Start the step form', steps_talent_infos_path, class: "btn btn-primary" %>
</div>

<style>
.navbar-wagon {
  position: relative;
}
.navbar-wagon-item {
  position: absolute;
  right: 20px;
}
.centrer_la_page {
  text-align: center;
  margin-top: 20%;
}
</style>
