<%= render "shared/navbar" %>

<div class="home-container">

  <div class="home-left">

    <h1><strong>Bienvenue</strong> sur The Talentist !</h1>
    <h2>Quelque soit votre talent, vous réussirez à intégrer la start-up qui vous correspond et dans laquelle vous vous épanouirez.</h2>

    <div class="home-connexion">

      <div class="inscription-items">
        <div class="btn btn-primary btn-inscription">
          <%= link_to new_talent_session_path do  %>
            <i class="fas fa-rocket"></i>
            <a>Je suis un<br>talent</a>
          <% end %>
        </div>
        <div class="btn btn-primary btn-inscription">
          <%= link_to new_headhunter_session_path do %>
            <i class="fas fa-user"></i>
            <a>Je suis une<br>start-up</a>
          <% end %>
        </div>
      </div>
    </div>

  </div>


  <div class="home-right"></div>

</div>


<%= render "shared/footer" %>
