<%= render "shared/navbar" %>

<div class="home-container">

  <div class="home-left">

    <h1><strong>Bienvenue</strong> sur The Talentist !</h1>
    <h2>Quelque soit votre talent, vous réussirez à intégrer la start-up qui vous correspond et dans laquelle vous vous épanouirez.</h2>

    <div class="home-connexion">
      <div class="connexion-item connexion-mail">
        <p>untalent@unestartup.go</p>
      </div>
      <div class="connexion-item connexion-mdp">
        <p>Mot de passe</p>
      </div>
      <div class="connexion-btns">
        <p class="mdp-oublie">Mot de passe oublié ?</p>
        <p class="btn-connexion">Se connecter <i class="fas fa-angle-right"></i></p>
      </div>
      <div class="alternative-connexion">
        <hr>
        <p>OU S'INSCRIRE</p>
      </div>
      <div class="inscription-items">
        <%= link_to 'Je suis un talent', new_talent_session_path, class: "btn btn-primary btn-inscription btn-inscription-talent" %>
        <%= link_to 'Je suis une startup', new_headhunter_session_path, class: "btn btn-primary btn-inscription btn-inscription-startup" %>
      </div>
    </div>

  </div>


  <div class="home-right"></div>

</div>


<%= render "shared/footer" %>
