

<div class="forgot_password">

  <h2>Mentions <strong>légales</strong></h2>

  <p style="text-align: justify;">Le Service est édité par la société INEVA & PARTNERS, <br>9, rue Saint Fiacre 75002 Paris - France, RCS Paris 531 821 296<br> <br>

  The Talentist est une marque déposée propriété de la société INEVA & PARTNERS.<br> <br>

  Directeur de la publication : <br>
  Monsieur Aymard LE BEGUE DE GERMINY<br> <br>

  Hébergeur : Heroku Inc., at The Landmark @ One Market, Suite 300, San Francisco, California 94105 <br> <br>

  DONNÉES PERSONNELLES : <br> <br>

  En tant que responsable de traitement, INEVA & PARTNERS ne traite que les données personnelles strictement nécessaires à la création d’un compte utilisateur et à l’utilisation du service. <br>
  INEVA & PARTNERS ne cède ou n’échange vos données personnelles à aucun tiers, certaines d’entres elles seulement étant susceptibles d’être adressées à des employeurs potentiels avec votre autorisation préalable et expresse. <br>
  Sous réserve des prescriptions légales, INEVA & PARTNERS ne conserve pas vos données au-delà la durée nécessaire à l’exploitation du service par l’utilisateur. <br>
  INEVA & PARTNERS s’engage à assurer la sécurité de vos données en mettant en place une protection des données renforcée par l’utilisation de moyens informatiques et humains conformes aux règles de l’art. <br> <br>

  EXERCICE DU DROIT D'ACCÈS :<br> <br>

  Conformément aux articles 38 et 39 de la Loi Informatique et Libertés, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. <br>
  Pour exercer ce droit d'accès, adressez-vous, par courrier postal ou par email (<a href="mailto:contact@ineva-partners.com">contact@ineva-partners.com</a>) à la société INEVA & PARTNERS, 9 rue Saint Fiacre 75002 Paris. <br> <br>

  COOKIES & GOOGLE ANALYTICS : <br> <br>

  Lors de vos visites sur le site, un cookie peut s’installer automatiquement sur votre logiciel de navigation. <br>
  Des cookies sont notamment utilisés par l’outil Google Analytics utilisé sur ce site. <br>
  <em style="background-color: yellow;">En savoir + (créer un lien profond qui renvoie sur une page « Utilisation des cookies par INEVA & PARTNERS »)</em> <br> <br>

  DROITS D'AUTEUR / COPYRIGHT : <br> <br>

  Ce site est la propriété exclusive de la société INEVA & PARTNERS, toute reproduction ou représentation totale ou partielle de ce site par quelques procédé que ce soit, sans l’autorisation expresse de son titulaire est interdite et serait susceptible de constituer une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la Propriété intellectuelle. <br> <br>

  CCONTACT : <br> <br>

  Pour toute remarque sur le fonctionnement du site, écrivez à: <a href="mailto:contact@ineva-partners.com">contact@ineva-partners.com</a> <br> <br>

</div>


