<%= render "shared/navbar" %>

<div class="waiting_for_validation">

  <h3>Bravo !!</h3>

  <h4>Vous êtes <strong>inscrit(e)</strong> !</h4>

  <h4>Nos équipes vont <strong>analyser</strong> votre candidature et reviendront vers vous très rapidement !</h4>

  <h4>A bientôt <strong><i class="far fa-smile-beam"></i></strong> !!</h4>

  <%= link_to "Revenir à la page d'accueil", root_path %>

</div>

<%= render "shared/footer" %>
