<div class="waiting_for_validation">

  <h3>Bravo !!</h3>

  <h4>Ton <strong>inscription</strong> a bien été prise en compte !</h4>

  <h4>Nos équipes vont <strong>étudier</strong> ta candidature et reviendront vers toi rapidement !</h4>

  <h4>À bientôt <strong><i class="far fa-smile-beam"></i></strong> !!</h4>

  <%= link_to "Compléter mon formulaire", steps_talent_info_path(:user_informations) %>
  <%= link_to "Se déconnecter", root_path %>

</div>
