// button
  button{
    color: $green;
    background: transparent;
    border: 1px solid $green;
    border-radius: 15px;
    padding: 5px 20px;
    transition: 0.3s;
  }
  button:hover{
    color: white;
    // background: $green;
  }

// btn-violet-square
  .btn-violet-square{
    background-color: $violet;
    border-radius: 2px;
    color: white;
    border: 1px solid $violet;
    padding: 13px 30px;
    box-shadow: 0 4px 14px 0 rgba(0,7,72,0.2);
    transition: .5s;
  }
  .btn-violet-square:hover{
    background-color: white;
    color: $violet;
  }
  .btn-violet-square[disabled] {
    color: $subtitle;
    background-color: $lines-2;
    border-color: $lines-2;
    cursor: not-allowed;
  }

// btn-red-square
  .btn-red-square{
    background-color: $red;
    border-radius: 2px;
    color: white;
    border: 1px solid $red;
    padding: 10px 20px;
    box-shadow: 0 4px 14px 0 rgba(0,7,72,0.2);
    transition: .5s;
    cursor: pointer;
  }
  .btn-red-square:hover{
    background-color: white;
    color: $red;
  }
  .btn-red-square[disabled] {
    color: $subtitle;
    background-color: $lines-2;
    border-color: $lines-2;
    cursor: not-allowed;
  }

// btn-gray-violet
  .btn-gray-violet{
    border: 1px solid #e5e6ec;
    border-radius: 2px;
    color: $violet;
    padding: 10px;
    width: 100%;
    background-color: #e5e6ec;
    transition: .5s;
  }
  .btn-gray-violet:hover{
    color: #e5e6ec;
    background-color: $violet;
  }

// btn-white-border
  .btn-white-border{
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 2px;
    background-color: transparent;
    color: white;
    transition: .5s
  }
  .btn-white-border:hover{
    background-color: white;
    color: $red;
  }

// btn-edition
  .btn-edition-container{
    position: absolute;
    display: flex;
    top: 100px;
    transform: translateY(-50%);
    right: 60px;
  }
  .btn-edition{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: $green;
    border: 1px solid $green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7px;
    transition: 0.5s;
    span{
      font-size: 14px;
      position: relative;
      display: inline-block;
      // padding: 0 7px;
    }
    span:after{
      content: 'Modifier';
      font-size: 14px;
      margin-left: 10px;
      color: white;
      display: none;
      opacity: 0;
      position: absolute;
    }
  }
  .btn-edition-container:hover .btn-edition{
    background-color: $green;
    color: white;
    width: 95px;
    transition: all 0.5s;
    span:after{
      opacity: 1;
      display: inline-block;
      transition: all 0.5s;
    }
  }

  @media screen and (max-width: 770px) {
    .btn-edition-container{
      right: 50%;
      transform: translate(50%, -50%);
    }
    .btn-edition{
      background-color: $green;
      color: white;
      width: 95px;
      span:after{
        opacity: 1;
        display: inline-block;
      }
    }
  }

// contact-btn
  .contact-btn{
    width: 140px;
    height: 40px;
    border-radius: 25px;
    background-color: $green;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    .btn{
      opacity: 0;
      width: 140px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .en-relation{
    width: 240px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
  }

  .modal-header{
    .contact-btn{
      margin-right: 40px;
      padding: 0 20px;
      width: unset;
    }
  }

  .lower-body{
    .contact-btn{
      display: none;
      margin: auto;
      p{
        color: white;
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 916px) {
    .modal-header .contact-btn {
      // display: none;
    }
    .lower-body{
     .contact-btn {
        display: flex !important;
      }
      .en-relation{
        width: 240px;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid $violet;
        p{
          color: $violet;
        }
      }
    }
  }

// btn-validate
  .btn-validate{
    display: flex;
    justify-content: space-between;
    div{
      border-radius: 50px;
      input, p{
        border-radius: 50px;
        font-size: 14px;
        color: $green;
        border: 1px solid $green;
        background-color: rgba(0,0,0,0);
        padding: 1px 7px 2px;
        transition: 0.15s;
      }
    }
    div:last-child {
      input, p {
        color: $red;
        border-color: $red;
      }
    }
    div:hover input, p{
      color: white;
      background-color: $green;
    }
    .disabled_validation:hover input, p{
      color: unset;
      background-color: transparent;
    }
    div:last-child:hover input, p{
      background-color: $red;
    }
    .green_validation {
      input, p{
        color: white !important;
        background-color: $green !important;
      }
    }
    .red_validation {
      input, p{
        color: white !important;
        background-color: $red !important;
      }
    }
    .disabled_validation {
      input, p{
        color: $gray !important;
        border: 1px solid $gray;
        cursor: not-allowed;
      }
    }
  }

// btn-inscription
  .btn-inscription{
    border: 2px solid $violet;
    border-radius: 2px;
    min-width: 165px;
    // background-color: rgba(0,0,0,0);
    // animation: anim-bouton 2s ease-out infinite;
    transition: 0.15s;
    margin: 40px;
    i{
      font-size: 5.6vw;
      margin: 10px;
    }
    p{
      margin: 0;
      text-transform: uppercase;
      font-size: 1.2vw;
      font-weight: 900;
      color: $violet;
      transition: 0.15s;
    }
  }
  .btn-inscription:hover{
    background-color: $violet;
    // animation: none !important;
    p{
      color: white;
      text-decoration: none;
    }
  }


  // @keyframes anim-bouton {
  //   0% {box-shadow: 1px 1px 2px $green;}
  //   25% {box-shadow: 3px 3px 2px $green;}
  //   50% {box-shadow: 1px 1px 2px $green;}
  //   75% {box-shadow: 1px 1px 2px $green;}
  //   100% {box-shadow: 1px 1px 2px $green;}
  // }
  @media screen and (max-width: 1000px) {
    .btn-inscription{
      background-color: white;
      margin-top: 35vh;
      p{
        font-size: 3vw;
        i{
          display: none;
        }
      }
    }
  }

// btn-connexion
  .btn-connexion{
    height: 40px;
    background-color: rgba(0,0,0,0);
    border: 2px solid $green;
    font-weight: 600;
    font-size: 21px;
    border-radius: 25px;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    color: $green; // garder pour pouvoir réutiliser plus facilement
    a{
      color: $green;
    }
  }
  .btn-connexion:hover{
    cursor: pointer;
    background-color: $green;
    color: white; // garder pour pouvoir réutiliser plus facilement
    transition: 0.15s;
    a{
      color: white;
      transition: 0.15s;
    }
  }
  .blue-connexion{
    border: 2px solid $violet !important;
    // min-width: 200px;
    a{
      color: $violet;
    }
  }
  .actions-xs{
    .btn-connexion{
      margin: unset;
      background-color: white;
      box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    }
  }

// btn-envoyer
  .btn-envoyer{
    background-color: $green;
    border-radius: 20px;
    padding: 0px 24px;
    color: white;
    border: 0px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.17);
    margin-right: 50px;
    transition: 0.15s;
  }
  .btn-envoyer:hover{
    box-shadow: none;
  }

// Linkedin-btn
  .linkedin-btn a p {
    width: 225px;
    color: #fff;
    background-color: #007bb6;
    display: inline-block;
    padding: 6px 9px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    i {
      margin-right: 5px;
    }
  }

// btn-aline
  .btn-aline {
    display: grid;
    grid: auto / auto auto;
    justify-content: space-between;
  }
  @media screen and (max-width: 770px) {
    .btn-aline {
      grid: auto auto / auto;
      justify-content: center;
      justify-items: center;
      grid-gap: 15px;
      :first-child{
        grid-row: 2 / 3;
      }
      :last-child{
        grid-row: 1 / 2;
      }
    }
  }

// form-btn
  .margin-auto-talent .form-btn {
    width: 210px;
    margin: 0;
  }

// Social-media-link
  .social-media-link{
    margin-right: 2vw;
    color: #191B26;
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center center;
    background-color: rgba(168, 170, 179, 0.32);
    border-radius: 100%;
  }
  .social-media-link:hover {
    color: $green;
  }

// btn-edit
  .btn-edit{
    border: 0.5px solid $green;
    border-radius: 30px;
    background: rgba(0,0,0,0);
    color: $green;
    padding: 3px 30px;
    cursor: pointer;
    font-size: 14px
  }

// remove_fields
  .remove_fields{
    color: $red;
  }
  .remove_fields::before{
    content: "<i class="fas fa-trash-alt"></i>"
  }

// Form-hobby-add
  .form-hobby-add{
    // height: 39px;
    // min-height: 32px;
    border: 1px solid $green;
    border-radius: 4px;
    color: $green;
    padding: 0 15px;
  }
  .form-hobby-add:hover{
    color: white;
    background-color: $green;
    text-decoration: none;
    transition: 0.15s;
    a{
      color: white;
    }
  }
  .form-hobby-add:focus{
    color: $green;
    text-decoration: none;
  }

// Switch button
  .switch-button{
    position: fixed;
    background-color: $green;
    border-radius: 100px;
    box-shadow: 1px 1px $gray;
    bottom: 30px;
    right: 30px;
    z-index: 1;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s;
    overflow: hidden;
    i{
      transition: 0.15s;
      color: white;
    }
    p{
      transition: 0.5s;
      font-size: 14px;
      margin: 0 0 0 10px;
      color: $green;
      display: none;
      opacity: 0;
    }
  }
  .switch-button:hover{
    background-color: white;
    cursor: pointer;
    width: 220px;
    i{
      color: $green;
    }
    p{
      opacity: 1;
      display: block;
    }
  }
