// btn-edition
  .btn-edition{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    color: $green;
    border: 1px solid $green;
    transition: 0.5s;
    span{
      font-size: 14px;
      position: relative;
      display: inline-block;
      padding: 0 7px;
    }
    span:after{
      content: 'Modifier';
      font-size: 14px;
      margin-left: 10px;
      color: white;
      display: none;
      opacity: 0;
      position: absolute;
    }
  }
  .btn-edition:hover{
    background-color: $green;
    color: white;
    width: 95px;
    transition: all 0.5s;
    span:after{
      opacity: 1;
      display: inline-block;
      transition: all 0.5s;
    }
  }

// contact-btn
  .contact-btn{
    width: 140px;
    height: 40px;
    border-radius: 25px;
    background-color: $green;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    .btn{
      opacity: 0;
      width: 140px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .modal-header{
    .contact-btn{
      margin-right: 40px;
    }
  }

  .lower-body{
    .contact-btn{
      display: none;
      margin: auto;
      p{
        color: white;
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 916px) {
    .modal-header .contact-btn {
      display: none;
    }
    .lower-body{
     .contact-btn {
        display: flex !important;
      }
      .en-relation{
        width: 240px;
        background-color: rgba(0, 0, 0, 0);
        border: 2px solid $violet;
        p{
          color: $violet;
        }
      }
    }
  }

// btn-validate
  .btn-validate{
    display: flex;
    justify-content: space-between;
    div{
      border-radius: 50px;
      input{
        border-radius: 50px;
        font-size: 14px;
        color: $green;
        border-color: $green;
      }
    }
    div:last-child {
      input {
        color: $red;
        border-color: $red;
      }
    }
    div:hover input{
      color: white;
      background-color: $green;
      transition: 0.15s;
    }
    div:last-child:hover input{
      background-color: $red;
    }
  }

// btn-inscription
  .btn-inscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    max-width: 12vw;
    height: 12.5vw;
    border: 2px solid $green;
    border-radius: 4px;
    margin: 0 50px 0 0;
    background-color: rgba(0,0,0,0);
    animation: anim-bouton 2s ease-out infinite;
    transition: 0.15s;
    i{
      font-size: 5.6vw;
      margin: 10px;
    }
    p{
      margin: 0;
      text-transform: uppercase;
      font-size: 1.2vw;
      font-weight: 900;
      color: $green;
      transition: 0.15s;
    }
  }
  .btn-inscription:hover{
    background-color: $green;
    animation: none !important;
    p{
      color: white;
      text-decoration: none;
    }
  }


  @keyframes anim-bouton {
    0% {box-shadow: 1px 1px 2px $green;}
    25% {box-shadow: 3px 3px 2px $green;}
    50% {box-shadow: 1px 1px 2px $green;}
    75% {box-shadow: 1px 1px 2px $green;}
    100% {box-shadow: 1px 1px 2px $green;}
  }
  @media screen and (max-width: 1000px) {
    .btn-inscription{
      margin: 0 40px;
      width: unset;
      height: unset;
      max-width: unset;
      background-color: white;
      p{
        font-size: 3vw;
        i{
          display: none;
        }
      }
    }
  }

// btn-connexion
  .btn-connexion{
    height: 40px;
    border: 2px solid $green;
    font-weight: 600;
    font-size: 21px;
    border-radius: 25px;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    color: $green; // garder pour pouvoir réutiliser plus facilement
    a{
      color: $green;
    }
  }
  .btn-connexion:hover{
    cursor: pointer;
    background-color: $green;
    color: white; // garder pour pouvoir réutiliser plus facilement
    transition: 0.15s;
    a{
      color: white;
      transition: 0.15s;
    }
  }
  .blue-connexion{
    border: 2px solid $violet !important;
    // min-width: 200px;
    a{
      color: $violet;
    }
  }
  .actions-xs{
    .btn-connexion{
      margin: unset;
      background-color: white;
      box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    }
  }

// btn-envoyer
  .btn-envoyer{
    background-color: $green;
    border-radius: 20px;
    padding: 0px 24px;
    color: white;
    border: 0px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.17);
    margin-right: 50px;
    transition: 0.15s;
  }
  .btn-envoyer:hover{
    box-shadow: none;
  }

// Linkedin-btn
  .linkedin-btn a p {
    width: 235px;
    color: #fff;
    background-color: #007bb6;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    i {
      margin-right: 5px;
    }
  }

// btn-aline
  @media screen and (max-width: 770px) {
    .btn-aline {
      display: block;
    }
  }
  .btn-aline {
    display: flex;
    justify-content: space-between;
  }

// form-btn
  .margin-auto-talent .form-btn {
    width: 210px;
    margin: 0;
  }




