/* Customize the label (the container) */
.checkbox-react {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-react input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 1px solid #CED0D5;
  border-radius: 1px;
}

/* On mouse-over, add a grey background color */
.checkbox-react:hover input ~ .checkmark {
  border: 1px solid $violet;
}

/* When the checkbox is checked, add a blue background */
.checkbox-react input:checked ~ .checkmark {
  background-color: $green;
  border: 0px solid $violet;
}

/* Create the checkmark/indicator (hidden when not checked) */
// .checkmark:after {
//   content: "";
//   position: absolute;
//   display: none;
// }

/* Show the checkmark when checked */
// .checkbox-react input:checked ~ .checkmark:after {
//   display: none;
// }

/* Style the checkmark/indicator */
// .checkbox-react .checkmark:after {
//   left: 9px;
//   top: 5px;
//   width: 5px;
//   height: 10px;
//   border: solid white;
//   border-width: 0 3px 3px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
// }
