// FONT Basics
  h1 {
    color: $black
  }
  h2 {
    color: $black
  }
  h3 {
    color: $black
  }
  h4 {
    color: $black
  }
  h5 {
    color: $black
  }
  p {
    color: $black
  }
  a {
    color: $black
  }
  strong{
    color: $green;
  }
  label {
    color: $black;
    margin: 0;
  }
  input {
    color: $black
  }
  select {
    color: $black
  }


// FONT - Titre du profil
  .titre-profil{
    text-transform: capitalize;
    color: $black;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    text-align: center;
    margin: 18px 0 0 0;
  }

// FONT - Sous-titre profil
  .sous-titre-profil{
    text-transform: capitalize;
    color: $gray;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    margin: 0;
  }

// FONT - Titre section
  .titre-section-icon{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: rgba(3,13,88,0.06);
    box-shadow: -2px 2px 2px 0 rgba(0,0,0,0.1);
    display: grid;
    place-items: center;
    float: left;
    margin-right: 20px;
  }
  .titre-section-icon-illu{
    color: $green;
    font-size: 15px;
  }
  .titre-section{
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    margin: 0 0 25px;
  }

// Titre rubrique 1
  .titre-rubrique-1{
    color: $gray;
    font-size: 12px;
    font-weight: 300;
    line-height: 11px;
    margin-bottom: 2px;
  }

// Titre rubrique 2
  .titre-rubrique-2{
      color: $gray;
      font-size: 16px;
      font-weight: 900;
      line-height: 22px;
      margin: 0 0 15px;
  }

// Titre rubrique - 3 / texte rubrique - 1 / Titre formation
  .titre-rubrique-3{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }

// Texte rubrique 1b
  .texte-rubrique-1b{
    font-size: 16px;
    font-weight: 900;
    line-height: 22px;
  }

// Texte rubrique 2b
  .texte-rubrique-2b{
    color: $black;
    font-size: 12px;
    font-weight: 900;
    line-height: 16px;
  }

// Texte rubrique 3
  .texte-rubrique-3{
    color: $gray;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 18px;
    text-align: justify;
  }

// Texte rubrique - 3bis / Organisme formation
  .texte-rubrique-3b{
    color: $black;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
  }

// Année formation
  .texte-annee-formation{
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
  }


// FONT - Component info-2
  .titre-info-2{
    color: $black;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin: 0 0 20px;
    min-height: 36px;
  }

