/* position of the footer */
.footer {
  width: 100vw;
  border-top: 1px solid $gray;
  padding: 0px 30px;
  bottom: 0;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  .social-media-link a{
    margin-right: 2vw;
  }
}

.footer-small-case {
  height: 100%;
  width: 25vw;
  border-left: 1px solid $gray;
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  a {
    font-size: 14px;
    color: $black;
  }
  a:hover{
    color: $green;
    text-decoration: none;
    transition: color ease-in-out 0.15s;
  }
}

/* color of social media link */
.social-media-link{
  a {
    color: $gray;
  }
  a:hover {
    color: $red;
  }
}

@media screen and (max-width: 535px){
  .footer{
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    height: unset;
  }
  .footer-small-case{
    border: none;
    margin: 20px 0;
    padding: 0;
  }
}
