.blue-background {
  background-color: $blue-background;
  padding: 30px;
  border-radius: 2px;
  box-shadow: -1px 1px 2px 1px rgba(0,0,0,0.1);
}

.margin-top-background {
  margin-top: 60px !important;
}

// Mets les polices de select2 à 14px
span.select2.select2-container.select2-container--default {
  font-size: 14px;
}

// Ajuste height selectize pour que les champs bougent avec leurs contenu
.selectize-control.form-control.select.optional.selectAndCreate.multi.plugin-remove_button {
  height: unset;
}

@media screen and (min-width: 771px) {
  .margin-right-background {
    margin-right: 30px;
  }
  .margin-left-background {
    margin-left: 30px;
  }
}
.form-control{
  color: $black;
  display: block;
  height: 35px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  input {
    color: #C9C9C9;
  }
}
.text-muted {
  color: #C9C9C9;
  font-size: 12px;
}

.form-titre-page{
  font-weight: 900;
  font-size: 39px;
  padding-bottom: 20px;
  border-bottom: 3px solid $violet;
  margin-bottom: 45px;
  margin-top: 0px;
}

.form-actions{
  margin: 45px 0;
  display: flex;
  justify-content: center;
  .form-btn{
    height: 40px;
    width: 170px;
    border-radius: 10px;
    border: 2px solid $green;
    color: $green;
    padding: 0;
    margin: 0 30px;
  }
  .form-btn-precedent{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  .form-btn-suivant{
    background-color: $green;
    color: white;
    font-size: 18px;
  }
}

.form-label-font-size {
  font-weight: 600;
  font-size: 15px;
  margin: 0;
}

.row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.simple-new-talent .simple_form {
  width: 120%;
  margin-left: -10%;
}

.add-picture{
  position: absolute;
  bottom: 80px;
  right: 50px;
}

