// Bordure
  .bordure-droite{
    border-right: 1px solid $gray;
  }
  .bordure-haut-bas{
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }
  .padding-left{
    padding-left: 20px;
  }
  .padding-top{
    padding-top: 12.5px;
  }


// Cercle
  .cercle{
    border-radius: 100%;
  }

// Color
  .gray{
    color: $gray;
  }
  .gray-background{
    background-color: $gray !important;
  }
  .green{
    color: $green;
  }
  .green-background{
    background-color: $green !important;
  }
  .red{
    color: $red;
  }
  .red-background{
    background-color: $red !important;
  }
  .red-border{
    border-color: $red !important;
  }
  .white{
    color: white;
  }

// Flex
  .flex{
    display: flex;
  }

  .space-between{
    justify-content: space-between;
  }

  .space-between-vertical{
    flex-direction: column;
    justify-content: space-between;
  }

// Float
  .float-left{
    float: left;
  }

  .float-right{
    float: right;
  }

// Grid
  .grid{
    display: grid;
  }
  .grid-column{
    grid-auto-flow: column;
  }
  .grid-col-span-2{
    grid-column: span 2;
  }

// Ligne
  .ligne-vertical{
    border: none;
    width: 1px;
    height: 100%;
    background-color: $gray;
  }
  .ligne-horizontal{
    border: none;
    background-color: $gray;
    height: 1px;
    width: 100%
  }

// Margin
  .margin-auto{
    margin: auto;
  }
  .no-margin{
    margin: 0 !important;
  }
  .margin-bottom-30{
    margin-bottom: 30px !important
  }
  .margin-top-30{
    margin-top: 30px !important
  }
  .margin-left-30{
    margin-left: 30px !important
  }
  .margin-right-30{
    margin-right: 30px !important
  }
  .margin-bottom-15{
    margin-bottom: 15px !important
  }
  .margin-top-15{
    margin-top: 15px !important
  }
  .margin-left-15{
    margin-left: 15px !important
  }
  .margin-right-15{
    margin-right: 15px !important
  }

  @media screen and (max-width: 770px){
    .no-margin-xs{
      margin: 0 !important;
    }
    .margin-bottom-30-xs{
      margin-bottom: 30px !important
    }
    .margin-top-30-xs{
      margin-top: 30px !important
    }
    .margin-left-30-xs{
      margin-left: 30px !important
    }
    .margin-right-30-xs{
      margin-right: 30px !important
    }
    .margin-bottom-15-xs{
      margin-bottom: 15px !important
    }
    .margin-top-15-xs{
      margin-top: 15px !important
    }
    .margin-left-15-xs{
      margin-left: 15px !important
    }
    .margin-right-15-xs{
      margin-right: 15px !important
    }
  }

// Padding
  .no-padding{
    padding: unset !important;
  }

// Position
  .relative{
    position: relative;
  }
  .absolute{
    position: absolute;
  }

// Text
  .capitalize{
    text-transform: capitalize;
  }

  .uppercase{
    text-transform: uppercase;
  }

  .center-text{
    display: grid;
    place-items: center center;
  }

  .absolute-center-vertical{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .absolute-center-horizontal{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }




.col-lg-3{
  width: 25% !important;
}
@media screen and (max-width: 770px) {
  .col-xs-12{
    width: 100% !important;
  }
  .col-xs-6{
    width: 50% !important;
  }
  .text-align-center-xs{
    text-align: center;
  }
}

input[type="range"]{
  width: unset;
}

.input-none > input {
   display: none;
}
