#app{
  min-height: calc(100vh - 190px);
  background-color: #F5F7FA
}
.svg-inline--fa{
  color: black;
  font-size: 18px;
}

// Bordure
  .bordure-droite{
    border-right: 1px solid $gray;
  }
  .bordure-droite-white{
    border-right: 1px solid white;
  }
  .bordure-haut-bas{
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
  }
  .bordure-bas{
    border-bottom: 1px solid $gray;
  }
  .gray-border{
    border: 1px solid $gray;
  }

// Cercle
  .cercle{
    border-radius: 100%;
  }

// Color
  .black{
    color: $black !important;
  }
  .blue{
    color: $blue !important;
  }
  .blue-background{
    background-color: $blue-background !important;
  }
  .dark-gray{
    color: $dark-gray !important;
  }
  .dark-gray-background{
    background-color: $dark-gray !important;
  }
  .gray{
    color: $gray !important;
  }
  .gray-background{
    background-color: $gray !important;
  }
  .green{
    color: $green !important;
  }
  .green-background{
    background-color: $green !important;
  }
  .light-gray{
    color: $light-gray !important;
  }
  .light-gray-background{
    background-color: $light-gray !important;
  }
  .red{
    color: $red !important;
  }
  .red-background{
    background-color: $red !important;
  }
  .red-border{
    border-color: $red !important;
  }
  .violet{
    color: $violet !important;
  }
  .violet-background{
    background-color: $violet !important;
  }
  .violet-border{
    border-color: $violet !important;
  }
  .white{
    color: white !important;
  }
  .white-background{
    background-color: white !important;
  }

// Cursor
  .pointer{
    cursor: pointer !important;
  }
  .not-allowed{
    cursor: not-allowed !important;
  }

// Flex
  .flex{
    display: flex !important;
  }
  .flex-wrap{
    flex-wrap: wrap !important;
  }
  .flex-column{
    flex-direction: column !important;
  }
  .flex-grow-1{
    flex-grow: 1 !important;
  }
  .justify-center{
    justify-content: center !important;
  }
  .flex-end{
    justify-content: flex-end !important;
  }
  .space-between{
    justify-content: space-between !important;
  }
  .space-evenly{
    justify-content: space-evenly !important;
  }
  .space-between-vertical{
    flex-direction: column;
    justify-content: space-between;
  }
  .align-items-center{
    align-items: center;
  }
  .align-items-baseline{
    align-items: baseline;
  }

// Float
  .float-left{
    float: left;
  }

  .float-right{
    float: right;
  }

// Focus & input
  input:focus, button:focus, select:focus, textarea:focus {
    border-color: $blue !important;
    outline: 0 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $blue !important;
  }

  input, button, select, textarea {
      font-size: 14px;
  }

// Grid
  .grid{
    display: grid;
  }
  .grid-column{
    grid-auto-flow: column;
  }
  .grid-col-span-2{
    grid-column: span 2;
  }

// Height
  .height-unset{
    height: unset !important;
  }

// Ligne
  .ligne-vertical{
    border: none;
    width: 1px;
    height: 100%;
    background-color: $gray;
  }
  .ligne-horizontal{
    border: none;
    background-color: $gray;
    height: 1px;
    width: 100%
  }
  .ligne-horizontal-lines-2{
    border: none;
    background-color: $lines-2;
    height: 1px;
    width: 100%
  }

// Margin
  .margin-auto{
    margin: auto;
  }
  .margin-left-auto{
    margin-left: auto;
  }
  .no-margin{
    margin: 0 !important;
  }
  .margin-top-120{
    margin-top: 120px !important
  }
  .margin-top-60{
    margin-top: 60px !important
  }
  .margin-bottom-60{
    margin-bottom: 60px !important
  }
  .margin-bottom-30{
    margin-bottom: 30px !important
  }
  .margin-top-30{
    margin-top: 30px !important
  }
  .margin-left-30{
    margin-left: 30px !important
  }
  .margin-right-30{
    margin-right: 30px !important
  }
  .margin-bottom-15{
    margin-bottom: 15px !important
  }
  .margin-top-15{
    margin-top: 15px !important
  }
  .margin-left-15{
    margin-left: 15px !important
  }
  .margin-right-15{
    margin-right: 15px !important
  }
  .margin-bottom-5{
    margin-bottom: 5px !important
  }
  .margin-right-5{
    margin-right: 5px !important
  }

  @media screen and (max-width: 770px){
    .no-margin-xs{
      margin: 0 !important;
    }
    .margin-bottom-30-xs{
      margin-bottom: 30px !important
    }
    .margin-top-30-xs{
      margin-top: 30px !important
    }
    .margin-top-60-xs{
      margin-top: 60px !important
    }
    .margin-left-30-xs{
      margin-left: 30px !important
    }
    .margin-right-30-xs{
      margin-right: 30px !important
    }
    .margin-bottom-15-xs{
      margin-bottom: 15px !important
    }
    .margin-top-15-xs{
      margin-top: 15px !important
    }
    .margin-left-15-xs{
      margin-left: 15px !important
    }
    .margin-right-15-xs{
      margin-right: 15px !important
    }
  }

// Padding
  .padding-10{
    padding: 10px;
  }
  .padding-30{
    padding: 30px;
  }
  .padding-100{
    padding: 100px;
  }
  .padding-horizontal-100{
    padding: 0 100px;
  }
  .padding-horizontal-15{
    padding: 0 15px;
  }
  .padding-vertical-5{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .padding-vertical-30{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .no-padding{
    padding: unset !important;
  }
  @media screen and (max-width: 770px){
    .no-padding-xs{
      padding: 0 !important;
    }
  }

// Position
  .relative{
    position: relative;
  }
  .absolute{
    position: absolute;
  }
  .fixed{
    position: fixed;
  }

// Scroll
  .scroll{
    overflow-y: auto;
  }

// Text
  .capitalize{
    text-transform: capitalize;
  }
  .uppercase{
    text-transform: uppercase;
  }
  .italic{
    font-style: italic;
  }

  .center-text{
    display: grid;
    place-items: center center;
  }

  .bold{
    font-weight: bold;
  }
  .thin{
    font-weight: 100;
  }

  .font-12{
    font-size: 12px;
  }
  .font-14{
    font-size: 14px;
  }
  .font-16{
    font-size: 16px;
  }

  .text-align-right{
    text-align: right;
  }
  .text-align-center{
    text-align: center;
  }
  .text-align-justify{
    text-align: justify;
  }

  .absolute-center-vertical{ // Parent doit avoir position relative
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .absolute-center-horizontal{ // Parent doit avoir position relative
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .absolute-center{ // Parent doit avoir position relative
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .align-center{ // Parent doit avoir display flex/grid
    align-self: center;
  }

// Width
  .min-width-25{
    min-width: 25%;
  }
  .min-width-50{
    min-width: 50%;
  }
  .min-width-75{
    min-width: 75%;
  }
  .min-width-100{
    min-width: 100%;
  }
  .width-fit-content{
    width: fit-content;
  }
  .w-33{
    width: 33.3333%;
  }
  .w-100{
    width: 100%;
  }



@media screen and (max-width: 770px) {
  .col-xs-12{
    width: 100% !important;
  }
  .col-xs-6{
    width: 50% !important;
  }
  .text-align-center-xs{
    text-align: center;
  }
  .text-align-left-xs{
    text-align: left;
  }
}

input[type="range"]{
  width: unset;
}

.input-none > input {
   display: none;
}
