// Color
  .green{
    color: $green;
  }
  .red{
    color: $red;
  }
  .red-background{
    background-color: $red !important;
  }

// Flex
  .flex{
    display: flex;
  }

  .space-between{
    justify-content: space-between;
  }

  .space-between-vertical{
    flex-direction: column;
    justify-content: space-between;
  }

// Float
  .float-left{
    float: left;
  }

  .float-right{
    float: right;
  }

// Grid
  .grid{
    display: grid;
  }
  .grid-column{
    grid-auto-flow: column;
  }
  .grid-col-span-2{
    grid-column: span 2;
  }

// Ligne
  .ligne-vertircal{
    border: none;
    width: 1px;
    height: 100%;
    background-color: $gray;
  }
  .ligne-horizontal{
    border: none;
    background-color: $gray;
    height: 1px;
    width: 100%
  }

// Margin
  .margin-auto{
    margin: auto;
  }
  .no-margin{
    margin: 0 !important;
  }
  .margin-bottom-30{
    margin-bottom: 30px
  }
  .margin-top-30{
    margin-top: 30px
  }
  .margin-left-30{
    margin-left: 30px
  }
  .margin-right-30{
    margin-right: 30px
  }

// Position
  .relative{
    position: relative;
  }
  .absolute{
    position: absolute;
  }

// Text
  .capitalize{
    text-transform: capitalize;
  }

  .uppercase{
    text-transform: uppercase;
  }

  .center-text{
    display: grid;
    place-items: center center;
  }


input[type="range"]{
  width: unset;
}
