#modal_aventure, #modal_experience, #modal_formation, #modal_profil, #modal_photo, #modal_credentials, #create_alert{
  .modal-header{
    margin-bottom: 30px;
  }
  .form-actions{
    margin: 40px;
  }
}

#modal_formation{
  .form-group{
    width: 20%;
  }
  .form-semi-line .form-group{
    width: unset;
  }
  .flex-vertical{
    align-items: flex-start;
  }
}

.inline-flex{
  display: inline-flex;
  align-items: center;
}
.flex-vertical{
  flex-direction: column;
}

#modal_profil{
  .remove-label .form-group {
    label{
      display: none;
    }
    input{
      color: $green;
      width: 100%;
      display: flex;
    }
  }
}

.add-picture{
  position: absolute;
  bottom: 80px;
  right: 50px;
}

