/* The Modal (background) */
.modal {
  display: none; /* !!!!! remettre display: none; !!!!*/ /* Hidden by default */
  padding: 2% 4%; /* Location of the box */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  .active {
    display: block !important;
  }
}

.modal-button{
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0 0 20px 0;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-header{
  background-color: $violet;
  padding: 10px 35px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3, p, span {
    color: white;
    opacity: 1;
    margin: 0;
  }
  h3{
    flex-grow: 2;
    font-size: 35px;
    font-weight: 900;
  }
  .en-relation{
    width: 240px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
  }
}
.modal-header:before, .modal-header:after {
  display: none;
}

.modal-body{
  padding: 0 30px;
  position: relative;
  i{
    margin-right: 6px;
  }
}
.modal-body-headhunter{
  .poste-hh{
    font-size: 20px !important;
    background-color: transparent !important;
    padding: 30px !important;
    margin: 0 !important;
    color: black !important;
  }
  .body-headhunter-pp{
    position: absolute;
    top: 0;
    right: 0;
    .photo-profil{
      height: 100px;
      width: 100px;
      border-radius: 0px;
      .initiale{
        border-radius:  0;
        p{
          background:  none;
          font-size: 40px;
        }
      }
    }
  }
}


.upper-body{
  width: 100%;
  height: 192px;
  display: flex;
  .upper-left-body{
    width: 70%;
    height: 100%;
    padding: 30px 30px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .talent-school{
      display: flex;
      justify-content: space-between;
      .talent-school-item{
        padding: 10px;
        margin: 0 10px 0 0;
        border-radius: 5px;
        font-size: 1.2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        background-color: rgba(1, 10, 80, 0.05);
        box-shadow: 3px 6px 8px rgba(0,0,0,0.06)
      }
    }
  }
  .upper-right-body{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .talent-metier{
      font-size: 50px;
      color: $green;
      font-weight: bold;
      margin: 0;
      z-index: 1;
    }
    .illu-modal{
      align-self: flex-start;
      top: 0;
      right: -30px;
    }
  }
}


h4{
  color: $black;
  font-size: 26px;
  font-weight: 900;
  margin: 0 0 40px 0;
}


.lower-left-body{
  h5{
    color: $green;
    font-size: 16px;
    font-weight: 600;
    font-style: oblique;
    margin: 0;
  }
  p{
    margin-bottom: 30px;
  }
}
.lower-body{
  width: 100%;
  display: flex;
  justify-content: space-between;
  .lower-body-item{
    height: 100%;
    width: 29%;
    // padding: 30px 0;
    p{
      font-size: 16px;
      text-align: justify;
    }
  }
  .lower-body-item-content{
    height: calc(100% - 69px);
  }
  .lower-middle-body{
    .lower-body-item-content{
      position: relative;
      .talent-experiences{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p{
          margin: 0;
          font-weight: 600;
        }
        .experience-post{
          text-transform: uppercase;
        }
        .experience-entreprise{
          font-style: oblique;
          color: $green;
        }
        .experience-duree{
          font-weight: 300;
        }
        .experience-desc{
          font-size: 14px;
          font-weight: 100;
          text-align: justify;
        }
      }
    }
  }
  .en-relation{
    width: 240px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
  }
}
.talent-competences{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  p{
    font-size: 14px;
    color: white;
    background-color: #73789E;
    padding: 2px 20px;
    margin: 0 10px 20px;
    border-radius: 20px;
    text-transform: capitalize;
  }
  .modal-hh:hover{
    cursor: pointer;
    background-color: $green;
  }
}
.lower-right-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  .links-startup {
    display: flex;
    a{
      margin: 0;
      color: $green;
      border: 1px solid $green;
      border-radius: 50px;
      padding: 7px 10px;
      font-size: 14px;
      transition: 0.15s;
    }
    a:hover{
      background-color: $green;
      color: white;
    }
  }
}

.talent-info-item p{
  text-transform: capitalize;
}

/* CSS pour barre pointée */
.barre-pointee{
  position: absolute;
  top: 6px;
  left: 5px;
  height: calc( 100% - 5px);
  width: 2px;
  background-color: $green;
  margin: 0;
  border-top: 0;
}
.point-barre-pointee{
  height: 12px;
  width: 12px;
  background-color: $green;
  border: 1px solid white;
  border-radius: 20px;
  z-index: 1;
  margin: 5px 10px 0 0;
}
.placement-point-barre{
  display: flex;
}


/* Add Animation */
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animateleft {
  from {left:-300px; opacity:0}
  to {left:0; opacity:1}
}

/* The Close Button */
.close {
  height: 42px;
  width: 42px;
  float: right;
  margin-right: 25px;
  font-weight: 100;
  font-size: 42px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

// modal create_alert
#create_alert .modal-content .modal-body{
  margin-top: 30px;
  form input{
    color: $green;
    border-color: $green;
    border-radius: 50px;
    margin: 0 15px;
  }
}



@media screen and (max-width: 1095px) {
  .upper-body{
    .upper-left-body{
      width: 100%;
      padding-right: 0;
      .talent-school .talent-school-item{
        font-size: 1.8vw;
      }
    }
    .upper-right-body{
      display: none;
    }
  }
}

@media screen and (max-width: 960px) {
  .lower-body{
    flex-wrap: wrap;
    .lower-body-item{
      width: 45%;
      height: 430px;
    }
    .lower-right-body{
      width: 100%;
      height: 200px;
      flex-direction: row;
      .lower-right-body-item{
        width: 45%;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .upper-body{
    height: unset;
    .upper-left-body{
      .talent-info{
        flex-wrap: wrap;
        .talent-info-item{
          margin: 0 10px;
        }
      }
      .talent-school{
        height: 100px;
        flex-direction: column;
        .talent-school-item{
          font-size: calc(12px + 0.5vw);
          padding: 0 10px;
        }
      }
    }
  }
  .lower-body{
    display: block;
    .lower-body-item{
      width: 100%;
      height: unset;
      padding: 30px 0 0 0;
    }
    .lower-right-body{
      flex-direction: column;
      .lower-right-body-item{
        width: 100%;
        padding: 30px 0 0 0;
      }
    }
  }
}

