/* Main navbar */
.navbar-wagon {
  background: $violet;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
}

/* User Avatar */
  .avatar {
    height: 35px !important;
    width: 35px !important;
    border-radius: 50%;
    cursor: pointer;
  }

/* Right section */
.navbar-talentist-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

.notif {
  background-color: #ff4c4c;
  line-height: 15px;
  min-width: 15px;
  min-height: 15px;
  font-size: 11px;
  color: white !important;
  border-radius: 30px;
  padding: 0px 5px;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: $red;
  text-decoration: none;
}

.lien-messagerie{
  position: relative;
  display: flex;
  align-items: center;
  .notif{
    position: absolute;
    top: -8px;
    right: 6px;
  }
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $gray;
  border-color: $gray;
}
.navbar-wagon-dropdown-menu li > a, .navbar-wagon-dropdown-menu li > p {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $gray;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  cursor: pointer;
}
.navbar-wagon-dropdown-menu li > a:hover, .navbar-wagon-dropdown-menu li > p:hover {
  background: transparent !important;
  color: black !important;
}
.bottom-menu{
  display: none;
}

@media screen and (max-width: 450px) {
  .hidden-450px{
    display: none;
  }
  .navbar-wagon{
    justify-content: center;
  }
  .lien-messagerie .notif{
  top: 5px;
}
  .bottom-menu{
    display: flex;
    height: 47px;
    width: 100%;
    background-color: white;
    border-top: 1px solid $gray;
    position: fixed;
    padding-bottom: 2px;
    bottom: -2px;
    z-index: 1000;
    .bottom-menu-item{
      width: 33%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid $gray;
      a, i, p{
        color: $violet;
      }
    }
    .bottom-menu-item:active{
      color: $green;
    }
  }
}








