/* Main navbar */
.navbar-wagon {
  background: $violet;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
}

/* User Avatar */
  .avatar {
    height: 35px !important;
    width: 35px !important;
    border-radius: 50%;
    cursor: pointer;
  }

/* Right section */
.navbar-talentist-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

.notif {
  box-sizing: border-box;
  background-color: $green;
  min-width: 11px;
  min-height: 11px;
  border: 2px solid $violet;
  border-radius: 10px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #878E9E;
  font-size: 14px;
  transition: .5s;
  svg{
    color: #878E9E;
    font-size: 14px;
    transition: .5s;
  }
}
.navbar-wagon-link:hover, .navbar-wagon-link.active {
  color: white;
  text-decoration: none;
  svg{
    color: white;
  }
}

.lien-messagerie{
  .notif{
    position: absolute;
    top: 0px;
    right: 20px;
    transform: translate(50%, -25%);
  }
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.14);
  margin-top: 10px;
  border: none;
}
.navbar-wagon-dropdown-menu li > a, .navbar-wagon-dropdown-menu li > p, {
  font-weight: lighter !important;
  color: $dark-blue;
  font-size: 14px !important;
  line-height: 32px !important;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s ease;
}
.navbar-wagon-dropdown-menu li > a:hover,
.navbar-wagon-dropdown-menu li > p:hover,
.navbar-wagon-dropdown-menu li > a.active,
.navbar-wagon-dropdown-menu li > p.active, {
  background-color: $bground !important;
  color: $dark-blue;
}
.bottom-menu{
  display: none;
}

@media screen and (max-width: 450px) {
  .hidden-450px{
    display: none;
  }
  .navbar-wagon{
    justify-content: center;
  }
  .lien-messagerie .notif{
  top: 5px;
}
  .bottom-menu{
    display: flex;
    height: 47px;
    width: 100%;
    background-color: white;
    border-top: 1px solid $gray;
    position: fixed;
    padding-bottom: 2px;
    bottom: -2px;
    z-index: 1000;
    .bottom-menu-item{
      width: 33%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid $gray;
      a, i, p{
        color: $violet;
      }
    }
    .bottom-menu-item:active{
      color: $green;
    }
  }
}








