#notifications{
	bottom: 30px;
	right: 30px;
	padding: 15px;
	border-radius: 5px;
	max-width: 300px;
	max-height: 300px;
	overflow-y: scroll; 
	box-shadow: 3px 3px 9px rgba(0,0,0,0.5);
	transition: 1s;
	p{
		color: white;
		opacity: 1;
		transition: 1s;
	}
}

#notifications.closed {
  max-width: 40px;
  max-height: 40px;
  overflow: hidden;
  border-radius: 20px;
  p{
		opacity: 0;
  }
}