.selectize-input{
  margin: -6px -12px;
  width: calc(100% + 24px) !important;
  border: none !important;
  padding: 7px !important;
  & > input:focus{
    box-shadow: none !important;
  }
}
.selectize-dropdown{
  margin-left: -12px !important;
  height: unset;
  color: $green;
  border-top: none;
  .create{
    color: black !important;
    strong{
      color: black;
    }
  }
  .create.active{
    color: white;
    strong{
      color: white;
    }
  }
}

.selectize-dropdown .active {
  background-color: $green !important;
  color: white !important;
}

.select2-container--default .select2-search--inline .select2-search__field:focus{
  box-shadow: unset !important;
}

// mets le texte en blanc quand user crée une entrée
.create strong {
  color: white;
}

.selectize-control.plugin-remove_button [data-value] .remove {
  line-height: unset;
}
