// Version React
.form-multi-select{
  .select-form__control{
    height: 100px;
    border-radius: 2px;
    border: 1px solid $input;
    align-items: start;
    background-color: transparent;
    padding: 10px;
    .select-form__multi-value {
      background-color: white;
      color:$dark-blue;
    }
    .select-form__indicators {
      display: none;
    }
  }
  
  .select-form__max-reached-alert{
    color: $dark-blue;
    text-align: center;
    padding: 10px;
  }
  .select-form__menu-list{
    .select-form__option{
      color: $dark-blue;
    }
  } 
}
    















// VERSION HTML

// Equilibre hauteur input text et list
.select2-container .select2-selection--single{
  height: 35px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 35px !important;
}


#diplome-form{
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 25px !important;
  }
}

/* change 'loisir' box aspect */
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
  border: 1px solid #ccc !important;
  border-radius: 2px !important;
}

// Met en page les réponses
  .select2-results__option {
    color: #303030;
    font-size: 13px;
    line-height: 18px;
  }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $green !important;
  }

// recopie le padding du selectize
  .select2-container--open .select2-dropdown--below, .select2-container--open .select2-dropdown--above {
      padding: 6px 12px;
  }

// aligne l'onglet recherche
  .select2-search--dropdown {
      padding: 4px 0 !important;
  }

// supprime la search-box (ajouter la class select2_nosearch)
  // .select2_nosearch {
  //   input.select2-search__field{
  //     display: none;
  //   }
  // }

// supprime bordure au-dessus du dropdown
  span.select2-dropdown.select2-dropdown--below {
      top: -2px;
      border: 1px solid #ccc;
      border-top: none;
  }

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin: 0 3px 3px 0;
  padding: 0 4px !important;
  background-color: #f2f2f2 !important;
  border-radius: 0px !important;
  color: #303030;
  border: 0 solid #d0d0d0 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: $black;
    margin-right: 5px !important;
    border-right: 1px solid #d0d0d0;
    padding-right: 4px;
}

