#container-startup{
  min-height: calc(100vh - 190px);
  position: relative;
  .no-start-up{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.background-img{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 138px;
  overflow: hidden;
  opacity: 0.3;
  .img-de-fond{
    width: 100%;
    margin-top: -50%;
    transform: translateY(50%);
  }
}

.background-img-talentist{
  height: 80px;
}

.startup-card{
  height: 370px;
  .border{
    justify-content: flex-start;
    .talent-info{
      margin: 30px 0 17.5px;
      .talent-info-item a:hover{
        color: $green;
      }
    }
    .talent-more-startup a{
      color: $green;
    }
    .talent-more-startup a:hover{
      color: $red;
      transition: 0.15s;
    }
  }
}

.accepeter-startup{
  margin: 40px 0;
}
