#container-startup{
  min-height: calc(100vh - 190px);
  padding: 100px 0;
}

.background-img{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 138px;
  overflow: hidden;
  opacity: 0.3;
  z-index: -1;
  .img-de-fond{
    width: 100%;
    transform: translateY(-20%);
  }
}

.talent-more-startup{
  color: $green;
  font-size: 12px;
  font-weight: bold;
  transition: 0.15s;
}
.talent-more-startup:hover{
  color: $red;
}

.accepeter-startup{
  margin: 40px 0;
}
