.talent-card-placement{}

.talent-card:hover{
  cursor: pointer;
  .border{
    box-shadow: none;
  }
}

.card-title{
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  p{
    font-size: 20px;
    color: $violet;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 6px;
  }
}

.illu-card{
  width: 131px;
  height: 138px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.border{
  border: 2px solid $violet;
  border-radius: 4px;
  padding: 0 34px 34px;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.21);
  height: 100%;
  transition: 0.15s;
  .talent-job{
    height: 138px;
    display: flex;
    align-items: center;
    h2{
      font-size: 26px;
      font-weight: 900;
      margin: 0;
      letter-spacing: 2px;
      text-transform: capitalize;
    }
  }
  p{
    font-size: 12px;
  }
  .talent-more {
    position: absolute;
    bottom: 15px;
    right: 15px;
    p{
      color: $green;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
      margin: 0;
    }
    p:hover{
      text-decoration: none;
      color: $red;
      transition: color ease-in-out 0.15s;
    }
  }
}

.talent-info{
  display: flex;
  justify-content: space-between;
}

.placement-talentist{
  // width: 20%;
  // min-width: 210px;
  .card-title p{
    font-size: 12px
  }
  .lien-messagerie-profil{
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    display: flex;
    height: 26px;
    a{
      width: 50%;
      text-align: center;
      border-top: 1px solid $violet;
      font-size: 14px;
      padding: 5px 0;
      transition: 0.15s;
    }
    a:first-child{
      border-right: 1px solid $violet;
    }
    a:hover{
      color: $green;
    }
  }
  .talent-card{
    width: 95%;
    margin: auto;
  }
}

.illu-card-talentist{
  height: 72px;
  width: 72px;
  position: absolute;
  top: 10px;
  right: 0;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0.7;
  z-index: -1;
  background-position: center;
  background-size: cover;
  .initiale{
    border-radius: unset;
    font-size: 200%;
  }
}



