/* Style the buttons that are used to open the tab content */
.tablinks {
  appearance: none;
  color: black;
  padding: 22px 16px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.15s;
}

/* Change background color of buttons on hover */
.tablinks:hover {
    background-color: rgba(3,13,89,0.05);
}

/* Create an active/current "tab button" class */
.tablinks.active {
    background-color: rgba(3,13,89,0.1);
}
