.top-menu{
  display: inline-flex;
  align-items: center;
  transition: 0.5s;
  .little-square{
    height: 36px;
    width: 36px;
    background-color: $violet;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: 0.5s;
    hr{
      margin: 0;
      height: 3px;
      background-color: white;
      border-top: 0px;
      border-radius: 3px;
      position: absolute;
      left: 6px;
      transition: 0.5s;
    }
    .first{
      top: 8px;
      width: 11.5px;
    }
    .second{
      top: 16px;
      width: 25px;
    }
    .third{
      top: 24px;
      width: 18.5px;
    }
  }
  .titre-menu{
    color: $violet;
    font-size: 16px;
    font-weight: 600;
    margin: 0 20px;
    transition: 0.5s;
  }
}

.top-menu:hover, .open{
  .little-square{
    background-color: $green;
    cursor: pointer;
    hr{
      width: 25px !important;
    }
  }
  .titre-menu{
    color: $green;
  }
}


.dropdown-top-menu{
  top: 35px;
  left: 10px;
  bottom: unset;
  margin-top: 15px;
  box-shadow: 1px 1px 4px #C9C9C9;
  border-color: #C9C9C9;
  :before{
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    left: 11px;
    top: -6px;
    background-color: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
  }
  li{
    padding: 5px 10px;
    p{
      margin: 0;
    }
  }
  li > a{
    transition: 0.3s ease;
    font-weight: lighter !important;
    color: #C9C9C9 !important;
    font-size: 15px !important;
    line-height: 22px !important;
    padding: 3px 20px;
    border-radius: 5px;
  }
  li > a:hover{
    background: $gray !important;
    color: $violet !important;
  }
  .top-menu-separation{
    height: 1px;
    background-color: $gray;
    width: 50%;
    margin: auto;
    border: none;
  }
}
.title-menu-link li > a {
  padding: 3px 0px;
  li > a:hover{
    background: $gray !important;
    color: $violet !important;
  }
}









