<div class="navbar">
  <img class="logo-talentist" src="" alt="The Talentist by Ineva Partners">
  <a href="">TALENTS</a>
  <a href="">MESSAGERIE</a>
  <a class="vignette-profil" href=""><img src="$$$IMG PROFIL$$$"></a>
</div>
