<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <table style="width: 80%; margin: auto;">
      <!-- LOGO TALENTIST (GRAND) BLOC -->
      <table align="center"; bgcolor="#fff" border="0" cellpadding="0" cellspacing="0">
      <tbody>
    <!-- Espace début de la lignes -->
        <tr>
          <td height="50" style="font-size: 50px; line-height: 50px;"> &nbsp; </td>
        </tr>
        <tr>
          <td>
            <table  align="center" width="590" border="0" cellpadding="0" cellspacing="0">
    <!-- Logo -->
              <tr>
                <td style="text-align: center;">
                  <%= link_to root_url do %>
                    <img src="https://res.cloudinary.com/da4nnrzbu/image/upload/v1538637025/The_talentist_new_-01.png", class: "new-landing-logo-talentist" width="350" border="0" alt="Logo TALENTIST">
                  <% end %>
                </td>
              </tr>
    <!-- Espace fin de la ligne -->
              <tr>
                <td height="25" style="font-size: 25px; line-height: 25px;"> &nbsp; </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
      </table>

    <%= yield %>



<!-- FOOTER BLOC -->
      <table align="center"; bgcolor="#fff" border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td>
              <table  align="center" width="590" border="0" cellpadding="0" cellspacing="0">
      <!-- Espace début de la ligne -->
                <tr>
                  <td height="20" style="font-size: 20px; line-height: 20px;"> &nbsp; </td>
                </tr>
      <!-- Mentions légale 01 -->
                <tr>
                  <td align="center" style="font-family: Avenir, sans-serifs; font-weight: lighter; text-align: center; font-size: 10px; color: #191B26; mso-line-height-rule: exactly; line-height: 24px;">
                    Ce message a été envoyé par
                    <a href="bienvenue@thetalentist.com" style="font-size: 10px; font-weight: bold; font-family: Avenir, sans-serifs; color: #191B26; text-align: center; text-decoration: none; mso-line-height-rule: exactly; line-height: 24px;">
                            bienvenue@thetalentist.com
                    </a>
                  </td>
                </tr>
      <!-- Espace début de la ligne -->
                <tr>
                  <td height="2" style="font-size: 2px; line-height: 2px;"> &nbsp; </td>
                </tr>
      <!-- Mentions légale 02 -->
                <tr>
                  <td align="center" style="font-family: Avenir, sans-serifs; font-weight: lighter; text-align: center; font-size: 10px; color: #191B26; mso-line-height-rule: exactly; line-height: 14px;">
                    Ineva Partners, 9 rue Saint Fiacre, 75002 Paris, France
                  </td>
                </tr>
      <!-- Espace début de la ligne -->
                <tr>
                  <td height="25" style="font-size: 25px; line-height: 25px;"> &nbsp; </td>
                </tr>
      <!-- Mentions légale 03 -->
                <tr>
                  <td align="center" style="font-family: Avenir, sans-serifs; font-weight: bolder; text-align: center; font-size: 10px; color: #191B26; mso-line-height-rule: exactly; line-height: 14px;">
                    <a href="http://www.ineva-partners.com/" style="color: #191B26; text-align: center; text-decoration: none;">
                            Conditions d'utilisation
                    </a>  |
                    <a href="http://www.ineva-partners.com/" style="color: #191B26; text-align: center; text-decoration: none;">
                            Mentions légales
                    </a>  |
                    <a href="http://www.ineva-partners.com/contact/" style="color: #191B26; text-align: center; text-decoration: none;">
                            Nous contacter
                    </a>
                  </td>
                </tr>
      <!-- Espace fin de la ligne -->
                <tr>
                  <td height="30" style="font-size: 30px; line-height: 30px;"> &nbsp; </td>
                </tr>
      <!-- Logo footer -->
                <tr>
                  <td style="text-align: center;">
                    <%= link_to root_url do %>
                      <img src="https://res.cloudinary.com/da4nnrzbu/image/upload/v1538637024/00_Logo4-01.png" width="30" border="0" alt="Logo Talentist">
                    <% end %>
                  </td>
                </tr>
      <!-- Espace fin de la ligne -->
                <tr>
                  <td height="50" style="font-size: 50px; line-height: 50px;"> &nbsp; </td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </table>
  </body>
</html>
