<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <title>Informations sur le candidat</title>
    <link rel='preconnect' href='https://fonts.gstatic.com'>
    <link href='https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap' rel='stylesheet'>
    <%= wicked_pdf_stylesheet_link_tag('pdf_recommendation') %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
